@inject VPMSWeb.Interface.IResourcesLocalizer LangResources
@inject IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "Index";
    ViewData["SelectedMenu"] = "AccessMenu";
    ViewBag.SelectedMenu = "AccessMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sessionUserID = httpContextaccessor.HttpContext.Session.GetString("UserID");
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-table.min.css" />
<link rel="stylesheet" href="~/css/Role.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap-table.min.js"></script>

<script>
    $("#SubMenuAccess").toggleClass('show');
    document.querySelector("#SubMenuAccessParent").querySelector("#imgArrow").classList.toggle("Up");

    var paginationLimit = 5;
    var pageSize = 10;
    var pageIndex = 1;
    var currentPage = 1;
    var totalPagination = 0;
    var startPagination = 1;
    var endPagination = 0;

    $(document).ready(function () {
        loadRoleListing();
    });

    function loadRoleListing() 
    {
        $('#lbRoleSettingError').css('visibility', 'hidden');

        $.getJSON("/Roles/GetRoleListing", {
            pageSize: pageSize,
            pageIndex: currentPage
        }).done(function (result) {
            if (result.data != null && result.data.length > 0) 
            {
                $('#tblRoles').bootstrapTable('destroy');
                $('#tblRoles').bootstrapTable({
                    data: result.data
                });

                /*------- Pagination -------*/
                populatePagingControl(result.totalRecord);
            }
            else 
            {
                $('#tblRoles').bootstrapTable('destroy');
                document.getElementById("pagination").hidden = true;
            }

        });
    }

    function populateHideMenu(value, row) {
        var hideMenuHtml = '<button type="button" class="btn" data-toggle="dropdown">' +
            '<img class="roleListingMoreIcon"  />' +
            '</button>' +
            
            '<div class="dropdown-menu hiddenMenuStyle containerBackground5">' +
            '<a class="dropdown-item" href="/Roles/ViewRoleProfile/' + value + '/View">' + '@Html.Raw(LangResources["Roles_Menu_View"])' + '</a>' +
            '<a class="dropdown-item" href="/Roles/ViewRoleProfile/' + value + '/Edit">' + '@Html.Raw(LangResources["Roles_Menu_Edit"])' + '</a>' +
            '<a class="dropdown-item" onclick="mnDeleteOnClick(\'' + value + '\')">' + '@Html.Raw(LangResources["Roles_Menu_Delete"])' + '</a>' +
            '</div>';
        return hideMenuHtml;
    }

    function populatePagingControl(totalRecord) {
        let total = totalRecord;
        if (total == 0) {
            document.getElementById("pagination").hidden = true;
        }
        else {
            document.getElementById("pagination").hidden = false;

            var totalPage = parseInt(total / pageSize);
            if (totalPage == 0) {
                totalPage = totalPage + 1;
            }

            if ((total > pageSize) && (total % pageSize) != 0) {
                totalPage = totalPage + 1;
            }

            totalPagination = totalPage;

            if (totalPage > paginationLimit) {
                endPagination = paginationLimit
            }
            else {
                endPagination = totalPage;
            }

            pagination(startPagination, endPagination);
        }

        if (currentPage == totalPagination) {
            document.getElementById("nextButton").hidden = true;
        }
        else {
            document.getElementById("nextButton").hidden = false;
        }
        if (currentPage == 1) {
            document.getElementById("prevButton").hidden = true;
        }
        else {
            document.getElementById("prevButton").hidden = false;
        }
    }

    function pagination(start, end) {
        var element = document.getElementById("paginationNumbering");

        element.innerHTML = "";
        for (let i = start; i < end + 1; i++) {
            var buttonClassName = "PaginationButton";

            if (currentPage == i) {
                buttonClassName = "PaginationButtonSelected";
            }

            element.innerHTML = element.innerHTML +
                '<div>' +
                '<button onclick="changePage(this);" data-page="' + i + '" class="' + buttonClassName + '"> ' + ('0' + i).slice(-2) + ' </button>' +
                '</div>';
        }
    }

    function prev() {
        currentPage = currentPage - 1;
        loadRoleListing();
    }

    function next() {
        currentPage = currentPage + 1;

        loadRoleListing();
    }

    function changePage(page) {
        let pageNum = page.getAttribute("data-page");

        currentPage = Number(pageNum);
        loadRoleListing();
    }

    function mnDeleteOnClick(id)
    {
        ShowConfirmCancelMsgBox("@Html.Raw(LangResources["Roles_Title_DeleteRole"])",
                                "@Html.Raw(LangResources["Roles_Label_ConfirmDeleteRole"])",
            function () {
                $.post("/Roles/DeleteRole", {
                    roleID: id,
                    userID: '@sessionUserID'
                }).done(function (result) {
                    if (result.StatusCode == 200) 
                    {
                        window.location.reload();
                    }
                    else
                    {
                        $('#lbRoleSettingError').html("@Html.Raw(LangResources["Roles_Label_FailedToDeleteRecord"])");
                        $('#lbRoleSettingError').css('visibility', 'visible');
                    }
                });
            },
            function () { }
        );
    }
</script>
<div class="row">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <label class="rolePageTitle"><!--Role Settings-->@LangResources["Roles_Title_RoleSettings"]</label>
        </div>
        <div class="col-md-7">&nbsp;</div>
        <div class="col-md-2">
            @{
                if ((bool)ViewData["CanAdd"])
                {
                    <div class="row">
                        <button id="btnAddRole" type="button" class="btn btn-primary" style="margin: 5px; font-size: 1vw"
                                onclick="location.href='@Url.Action("RoleProfile", "Roles")'">
                            <i class="bi bi-plus-circle"></i>
                            <!-- New Role -->@LangResources["Roles_Button_NewRole"]
                        </button>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row rowRoleTableMargin">
        <div class="col-md-12" style="height: 30px;">
            <label id="lbRoleSettingError"></label>
        </div>
        <div class="col-md-12">
            <table id="tblRoles" class="table" style="font-size: 1vw;">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" data-field="SeqNo" style="width: 5%;">@LangResources["Roles_Label_Number"]</th>
                        <th scope="col" class="text-left" data-field="RoleName" style="width: 20%;">@LangResources["Roles_Label_Role"]</th>
                        <th scope="col" class="text-left" data-field="TotalAssigned" style="width: 15%;">@LangResources["Roles_Label_AssignedNoofStaffs"]</th>
                        <th scope="col" class="text-left" data-field="sPermission" style="width: 55%;">@LangResources["Roles_Label_Permission"]</th>
                        <th scope="col" class="text-center" data-field="RoleID" data-formatter="populateHideMenu" style="width: 5%;"></th>
                    </tr>
                </thead>
            </table>
            <div class="row">
                <div id="pagination" style="display: flex; justify-content: flex-end; margin-top: 15px;">
                    <div>
                        <button id="prevButton" class="textColor" onclick="prev();" style="width: 3vw; height: 3vw; margin-right: 2vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; font-size: 1vw;">@LangResources["Doctor_Button_Prev"]</button>
                    </div>
                    <div id="paginationNumbering" style="display: flex; justify-content: flex-end;">
                    </div>
                    <div>
                        <button id="nextButton" class="textColor" onclick="next();" style="width: 3vw; height: 3vw; margin-left: 1vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; font-size: 1vw;">@LangResources["Doctor_Button_Next"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

