@model VPMS.Lib.Data.Models.RegisterModel;
﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
    ViewData["Title"] = "Change Password Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login.css" />

<div style="display: flex;">
    <div style="display: flex; align-items: center; margin-bottom: 1.5vw;">
        <img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" onclick="window.location = '@ViewBag.PreviousPage'" />
        <span class="textColor" style="font-size: 2vw;">@LangResources["Login_Label_ResetPassword"]</span>
    </div>
</div>

<form id="registerForm" method="post" asp-controller="Login" asp-action="ChangingPassword" style="width: 60%; margin: 2vw auto;">
    <div>
        <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
            <div>
                <span class="textColor">@LangResources["Login_Label_OldPassword"]</span>
                <input asp-for="Password" class="form-control" aria-required="true" style="margin-top: 1vw; border: 0.1vw solid">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
            <div>
                <span class="textColor">@LangResources["Login_Label_NewPassword"]</span>
                <input asp-for="NewPassword" autocomplete="new-password" class="form-control" aria-required="true" style="margin-top: 1vw; border: 0.1vw solid" />
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 3vw !important;">
            <div>
                <span class="textColor">@LangResources["Login_Label_ConfirmPassword"]</span>
                <input asp-for="ConfirmPassword" autocomplete="new-password" class="form-control" aria-required="true" style="margin-top: 1vw; border: 0.1vw solid" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div style="display: flex; justify-content: flex-end; flex-direction: row;">
            <button onclick="window.location = '@ViewBag.PreviousPage'" class="w-100 btn btn-lg btn-secondary" style="font-size: 1vw; width: 25% !important; margin-right: 1vw;"> @LangResources["Patient_Button_Cancel"] </button>
            <button id="changeSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="font-size: 1vw; width: 25% !important;"> @LangResources["Login_Label_ResetPassword"] </button>
        </div>
    </div>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}