@model VPMS.Lib.Data.Models.RegisterModel;

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register Page";
}

<form id="registerForm" method="post" asp-controller="Login" asp-action="SignUp">
    <h1 class="form-title">Create Account</h1>
    @* <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="Name" class="form-control" aria-required="true" placeholder="Full Name" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div> *@
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="Surname" class="form-control" aria-required="true" placeholder="Surname" />
        </div>
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="LastName" class="form-control" aria-required="true" placeholder="Last Name" />
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="Username" class="form-control" aria-required="true" placeholder="Login ID" />
        </div>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="Email" class="form-control" aria-required="true" placeholder="Email" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <select id="ddlOrgz" asp-for="Organization" class="form-select" aria-required="true">
                <option value="">-- Select organization --</option>
                @foreach (var Organization in Model.Organization)
                {
                    <option value="@Organization.Id">@Organization.Name</option>
                }
            </select>
        </div>
        <span asp-validation-for="Organization" class="text-danger"></span>
    </div>

@*  <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <select asp-for="Branch" class="form-select" aria-required="true">
                <option value="">-- Select branch --</option>
                @foreach (var Branch in Model.Branches)
                {
                    <option value="@Branch.ID">@Branch.Name</option>
                }
            </select>
        </div>
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div> *@

    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <select id="ddlRole" asp-for="Role" class="form-select" aria-required="true">
                <option value="">-- Select role --</option>
                @foreach (var Role in Model.Roles)
                {
                    <option value="@Role.RoleID">@Role.RoleName</option>
                }
            </select>
        </div>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    <a class="link" asp-controller="Login" asp-action="Login">Back</a>
</form>