@model VPMS.Lib.Data.Models.LoginModel;
﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
	Layout = "_LoginLayout";
	ViewData["Title"] = "Login Page";
}

<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/landing.css">
<script src="~/js/countryState.js"></script>
<script src="~/js/login.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#loginSubmit').on('click', function(ctl){ 
			$('.loading-icon').removeClass('hide');

			if ($('#txtUsername').valid() == false || $('#txtPassword').valid() == false)
			{
				$('.loading-icon').addClass('hide');
			}
		});
	});
</script>

<form id="registerForm" method="post" asp-controller="Login" asp-action="SignIn">
	<h1 class="form-title textColor">@LangResources["Login_Title_Login"]</h1>
	<div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
		<div class="fieldContainerChild">
			<img src="~/images/skins/icon_ion_person_sharp.png" />
			<input id="txtUsername" asp-for="Username" class="form-control" aria-required="true" placeholder="@LangResources["Login_Placeholder_LoginID"]" />
		</div>
		<span asp-validation-for="Username" class="text-danger validateSpan"></span>
	</div>
	<div class="form-floating mb-3 fieldContainer" style="margin-bottom: 3vw !important;">
		<div class="fieldContainerChild">
			<img src="~/images/skins/icon_ion_locked.png" />
			<input id="txtPassword" asp-for="Password" autocomplete="new-password" class="form-control" aria-required="true" placeholder="@LangResources["Login_Placeholder_Password"]" />
		</div>
		<span asp-validation-for="Password" class="text-danger validateSpan"></span>
	</div>
	<button id="loginSubmit" type="submit" class="w-100 btn btn-primary">
		<i class="loading-icon fa fa-spinner fa-spin hide"></i>
		@LangResources["Login_Title_Login"]
	</button>
	<a class="link" style="color: darkgray;" asp-controller="Login" asp-action="PasswordRecovery">@LangResources["Login_Link_ForgotPassword"]</a>
</form>

