﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources
@inject IHttpContextAccessor httpContextaccessor

@{
	ViewData["Title"] = "Patients Page";
	ViewBag.SelectedMenu = "patientsMenu";

	var CountryList = Program.CountryList;

	var sessionBranchID = httpContextaccessor.HttpContext.Session.GetString("BranchID");
}

<style>
	.field-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5vw;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}

	.formlabel {
		font-weight: bold;
		margin-bottom: 0.3vw;
		font-size: 1vw;
	}

	.inputField {
		border: 0.1vw solid;
		font-size: 1vw;
	}

	.halfSize {
		width: 36vw;
	}

	.quaterSize{
		width: 16.5vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	.hideContainer {
		display: none !important;
	}

	.currentPage{
		background-color: blue !important;
		color: white !important;
		border: none;
		border-style: none !important;
	}

	.currentPageText {
		color: black !important;
	}

	.medicalRecordPartition{
		width: 26vw;
		/* height: 31vw;
		overflow: auto; */
	}

	.medicalRecordPartitionTitle {
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-bottom: 1.5vw;
	}
</style>

<div style="display: flex;">

	<div style="display: flex; align-items: center; margin-bottom: 1.5vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" onclick="location.href='@Url.Action("Index", "Patients")'" />
		<span class="textColor" style="font-size: 2vw;">@LangResources["Patient_Title_Patients"]</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span style="font-size: 2vw; color: dodgerblue;">@LangResources["Patient_Title_CreatePatientProfile"]</span>
	</div>
</div>

<div style="display: flex; align-items: center; margin-bottom: 2vw;">

	<button style="width: 3vw; height: 3vw; background-color: blue; color: white; margin-right: 1vw; text-align: center; border-radius: 3vw; display: flex; align-items: center; justify-content: center; border-style: none; font-weight: bold;"> 01 </button>
	<span class="textColor">@LangResources["Patient_Title_OwnerInfo"]</span>

	<div id="lineBetweenTab" style="width: 10vw; background-color: lightgrey; height: 0.1vw; margin-left: 2vw; margin-right: 2vw;"></div>


	<button id="secondTab" style="width: 3vw; height: 3vw; background-color: transparent; color: lightgray; margin-right: 1vw; text-align: center; border-radius: 3vw; display: flex; align-items: center; justify-content: center; border-style: solid; font-weight: bold; border-color: lightgray;"> 02 </button>
	<span id="secondTabText" style="color: lightgrey;">@LangResources["Patient_Title_PetInfo"]</span>

</div>

<div id="ownerInfoContainer">
	<div>
		<div class="containerBackground2" style="width: 77vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
			<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_OwnerInfo"]</span>
		</div>
		<div class="containerBorder textColor" style="width: 77vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_OwnerName"]</span>
					<input id="OwnerName" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Login_Placeholder_Email"]</span>
					<input id="Email" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
					<input id="ContactNo" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
					<select id="Gender" class="form-control form-field inputField">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectGender"] --</option>
						<option value="M"> @LangResources["Patient_Selection_Male"]</option>
						<option value="F"> @LangResources["Patient_Selection_Female"]</option>
					</select>
				</div>
			</div>

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Country"]</span>
					<select id="Country" class="form-control form-field inputField" onchange="changeCountryState(this, 'country');">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectCountry"] --</option>
						@foreach(var country in CountryList)
						{
							<option value="@country.CountryName" data-id="@country.ID">@country.CountryName</option>
						}						
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_State"]</span>
					<select id="State" class="form-control form-field inputField" onchange="changeCountryState(this, 'state');">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectState"] --</option>
						@* <option value="Selangor"> Selangor</option> *@
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_City"]</span>
					<select id="City" class="form-control form-field inputField">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectCity"] --</option>
						@* <option value="Shah Alam"> Shah Alam</option> *@
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Postcode"]</span>
					<input id="Postcode" type="text" class="form-control form-field inputField" />
				</div>
			</div>

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container halfSize">
					<span class="formlabel">@LangResources["Patient_Label_AddressLine1"]</span>
					<input id="Address1" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container halfSize">
					<span class="formlabel">@LangResources["Patient_Label_AddressLine2"]</span>
					<input id="Address2" type="text" class="form-control form-field inputField" />
				</div>
			</div>

			<div>
				<button id="AddCoOwnerButton" onclick="toggleCoOwner();" class="btn btn-lg btn-primary" style="background-color: transparent; color: blue; border-style: none; display: flex; align-items: center;">
					<span id="container">+</span>
					<span style="font-size: 1.2vw; margin-left: 0.5vw;">@LangResources["Patient_Button_AddCoOwner"]</span>
				</button>
			</div>

		</div>
	</div>
	

	<div id="CoOwnerInfo" class="hideContainer">
		<div class="containerBackground2" style="width: 77vw; color: white; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
			<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_CoOwnerInfo"]</span>
		</div>
		<div class="containerBorder textColor" style="width: 77vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_CoOwnerName"]</span>
					<input id="CoOwnerName" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Login_Placeholder_Email"]</span>
					<input id="CoOwnerEmail" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
					<input id="CoContactNo" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
					<select id="CoGender" class="form-control form-field inputField">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectGender"] --</option>
						<option value="M"> @LangResources["Patient_Selection_Male"]</option>
						<option value="F"> @LangResources["Patient_Selection_Female"]</option>
					</select>
				</div>
			</div>

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Country"]</span>
					<select id="CoCountry" class="form-control form-field inputField" onchange="changeCountryState(this, 'country');">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectCountry"] --</option>
						@foreach (var country in CountryList)
						{
							<option value="@country.CountryName" data-id="@country.ID">@country.CountryName</option>
						}
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_State"]</span>
					<select id="CoState" class="form-control form-field inputField" onchange="changeCountryState(this, 'state');">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectState"] --</option>
						@* <option value="Selangor"> Selangor</option> *@
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_City"]</span>
					<select id="CoCity" class="form-control form-field inputField">
						<option value="" selected> -- @LangResources["Patient_Selection_SelectCity"] --</option>
						@* <option value="Shah Alam"> Shah Alam</option> *@
					</select>
				</div>

				<div class="field-container quaterSize">
					<span class="formlabel">@LangResources["Patient_Label_Postcode"]</span>
					<input id="CoPostcode" type="text" class="form-control form-field inputField" />
				</div>
			</div>

			<div style="display: flex; margin-bottom: 1.5vw;">
				<div class="field-container halfSize">
					<span class="formlabel">@LangResources["Patient_Label_AddressLine1"]</span>
					<input id="CoAddress1" type="text" class="form-control form-field inputField" />
				</div>

				<div class="field-container halfSize">
					<span class="formlabel">@LangResources["Patient_Label_AddressLine2"]</span>
					<input id="CoAddress2" type="text" class="form-control form-field inputField" />
				</div>
			</div>


			<div>
				<button id="DeleteCoOwnerButton" onclick="toggleCoOwner();" class="btn btn-lg btn-primary" style="background-color: transparent; color: blue; border-style: none; display: flex; align-items: center;">
					<span style="font-size: 1.2vw; margin-left: 0.5vw;">@LangResources["Patient_Button_RemoveCoOwner"]</span>
				</button>
			</div>

		</div>
	</div>

	<div style="text-align: end; margin-right: 1.6vw;">
		<button class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1vw;" onclick="location.href='@Url.Action("PatientsList", "Patients")'"> @LangResources["Patient_Button_Cancel"] </button>
		<button onclick="togglePage();" class="btn btn-lg btn-primary" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_NextStep"] </button>
	</div>
	
</div>

<template id="VaccinationTemplate">
	<div class="VaccinationGroup">
		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Type"]</span>
			@* <input type="text" class="form-control form-field inputField TypeVaccination" /> *@
			<select class="form-control form-field inputField TypeVaccination" onchange="serviceList(this.value,this.parentElement.parentElement.querySelector('.NameVaccination'), 'Vaccination');">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectVaccinationType"] --</option>
				@foreach (var vaccination in ViewData["VaccinationList"] as List<VPMS.Lib.Data.Models.ServiceCategory>)
				{
					<option value="@vaccination.ID"> @vaccination.SubCategoryName</option>
				}
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Name"]</span>
			@* <input type="text" class="form-control form-field inputField NameVaccination" /> *@
			<select class="form-control form-field inputField NameVaccination">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectVaccination"] --</option>
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_DueDate"]</span>
			<input type="date" class="form-control form-field inputField DueDateVaccination" />
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["TreatmentPlan_Label_Remarks"]</span>
			<input type="text" class="form-control form-field inputField RemarksVaccination" />
		</div>

		<div class="medicalRecordPartitionTitle" style="display:flex; justify-content: flex-end;">
			@* <button class="btn btn-lg btn-primary" style="width: 14vw; font-size: 1vw;">@LangResources["Patient_Button_SaveVaccination"]</button> *@
			<a onclick="removeClone(this);"><i class="fa fa-trash-o" style="font-size:2vw;color:red"></i></a>
		</div>
	</div>
</template>

<template id="MedicationTemplate">
	<div class="MedicationGroup">
		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Type"]</span>
			@* <input type="text" class="form-control form-field inputField TypeMedication" /> *@
			<select class="form-control form-field inputField TypeMedication" onchange="medicationList(this.value,this.parentElement.parentElement.querySelector('.NameMedication'), 'Medication');">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectMedicationType"] --</option>
				@foreach (var medication in ViewData["MedicationList"] as List<VPMS.Lib.Data.Models.InventoryCategory>)
				{
					<option value="@medication.ID"> @medication.TypeName</option>
				}
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Name"]</span>
			@* <input id="NameMedication" type="text" class="form-control form-field inputField NameMedication" /> *@
			<select class="form-control form-field inputField NameMedication">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectMedication"] --</option>
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_ExpiryDate"]</span>
			<input type="date" class="form-control form-field inputField DueDateMedication" />
		</div>

		<div class="medicalRecordPartitionTitle" style="display:flex; justify-content: flex-end;">
			@* <button class="btn btn-lg btn-primary" style="width: 14vw; font-size: 1vw;"> @LangResources["Patient_Button_SaveMedication"] </button> *@
			<a onclick="removeClone(this);"><i class="fa fa-trash-o" style="font-size:2vw;color:red"></i></a>
		</div>
	</div>
</template>

<template id="SurgeriesTemplate">
	<div class="SurgeryGroup">
		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Type"]</span>
			@* <input type="text" class="form-control form-field inputField TypeSurgeries" /> *@
			<select class="form-control form-field inputField TypeSurgeries" onchange="serviceList(this.value, this.parentElement.parentElement.querySelector('.NameSurgeries'), 'Surgery');">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectSurgeryType"] --</option>
				@foreach (var vaccination in ViewData["SurgeryList"] as List<VPMS.Lib.Data.Models.ServiceCategory>)
				{
					<option value="@vaccination.ID"> @vaccination.SubCategoryName</option>
				}
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_Name"]</span>
			@* <input type="text" class="form-control form-field inputField NameSurgeries" /> *@
			<select class="form-control form-field inputField NameSurgeries">
				<option value="" selected> -- @LangResources["Patient_Selection_SelectSurgery"] --</option>
			</select>
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["Patient_Label_DueDate"]</span>
			<input type="date" class="form-control form-field inputField DueDateSurgeries" />
		</div>

		<div class="field-container">
			<span class="formlabel">@LangResources["TreatmentPlan_Label_Remarks"]</span>
			<input type="text" class="form-control form-field inputField RemarksSurgeries" />
		</div>

		<div class="medicalRecordPartitionTitle" style="display:flex; justify-content: flex-end;">
			@* <button class="btn btn-lg btn-primary" style="width: 14vw; font-size: 1vw;"> @LangResources["Patient_Button_SaveSurgery"] </button> *@
			<a onclick="removeClone(this);"><i class="fa fa-trash-o" style="font-size:2vw;color:red"></i></a>
		</div>
	</div>
</template>

<div id="petsInfoContainer" class="hideContainer">
	<template id="petInfoTemplate">
		<div>
			<div>
				<div class="containerBackground2" style="width: 77vw; color: white; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
					<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_PetInfo"]</span>
				</div>
				<div class="containerBorder textColor" style="width: 77vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_PetName"]</span>
							<input type="text" class="form-control form-field inputField PetName" />
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_RegistrationNo"]</span>
							<input type="text" class="form-control form-field inputField RegistrationNo" />
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Sex"]</span>
							<select class="form-control form-field inputField Sex">
								<option value="" selected> -- @LangResources["Patient_Selection_SelectSex"] --</option>
								<option value="M"> @LangResources["Patient_Selection_Male"]</option>
								<option value="F"> @LangResources["Patient_Selection_Female"]</option>
							</select>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_DOB"]</span>
							<input type="date" class="form-control form-field inputField DOB" onchange="updateAge(this);" />
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Age"]</span>
							<input type="text" class="form-control form-field inputField Age" disabled/>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Species"]</span>
							<select onchange="changeSpecies(this);" class="form-control form-field inputField Species">
								<option value="" selected> -- @LangResources["Patient_Selection_SelectSpecies"] --</option>
								@foreach (var species in ViewData["Species"] as List<string>)
								{
									<option value="@species"> @species</option>
								}
							</select>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Breed"]</span>
							<select class="form-control form-field inputField Breed">
								<option value="" selected> -- @LangResources["Patient_Selection_SelectBreed"] --</option>
							</select>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Allergies"]</span>
							<input type="text" class="form-control form-field inputField Allergies" />
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Color"]</span>
							<select class="form-control form-field inputField Color">
								<option value="" selected> -- @LangResources["Patient_Selection_SelectColor"] --</option>
								@foreach (var color in ViewData["Color"] as List<string>)
								{
									<option value="@color"> @color</option>
								}
							</select>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Height"] (cm)</span>
							<input type="text" class="form-control form-field inputField Height" />
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Weight"] (kg)</span>
							<input type="text" class="form-control form-field inputField Weight" />
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Status"]</span>
							<select class="form-control form-field inputField Status">
								<option value="" selected> -- @LangResources["Patient_Selection_SelectStatus"] --</option>
								<option value="1"> @LangResources["Patient_Selection_Active"]</option>
								<option value="2"> @LangResources["Patient_Selection_Inactive"]</option>
							</select>
						</div>
					</div>

				</div>
			</div>


			<div>
				<div class="containerBackground2" style="width: 77vw; color: white; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
					<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_MedicalRecord"]</span>
				</div>
				<div class="containerBorder textColor" style="width: 77vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw; display: flex">

					<div class="medicalRecordPartition">

						@* <div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Vaccination"]</span>
						</div>

						<div id="VaccinationContent">
						</div>

						<div>
							<a onclick="cloneVaccination(this);" class="medicalRecordPartitionTitle" style="font-size: 1.2vw;">+ @LangResources["Patient_Button_AddNew"]</a>
						</div> *@

						<div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Vaccination"]</span>
							<a onclick="cloneVaccination(this);" href="#" class="medicalRecordPartitionTitle" style="font-size: 1.2vw; float: right;">+ @LangResources["Patient_Button_AddNew"]</a>
						</div>

						<div id="VaccinationContent" style="height: 27.3vw; overflow: auto;">
						</div>

					</div>

					<div class="medicalRecordPartition">
						@* <div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Medication"]</span>
						</div>

						<div id="MedicationContent">
						</div>

						<div>
							<a onclick="cloneMedication(this);" class="medicalRecordPartitionTitle" style="font-size: 1.2vw;">+ @LangResources["Patient_Button_AddNew"]</a>
						</div> *@

						<div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Medication"]</span>
							<a onclick="cloneMedication(this);" href="#" class="medicalRecordPartitionTitle" style="font-size: 1.2vw; float: right;">+ @LangResources["Patient_Button_AddNew"]</a>
						</div>

						<div id="MedicationContent" style="height: 27.3vw; overflow: auto;">
						</div>

					</div>

					<div class="medicalRecordPartition">
						@* <div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Surgeries"]</span>
						</div>

						<div id="SurgeriesContent">
						</div>

						<div>
							<a onclick="cloneSurgeries(this);" class="medicalRecordPartitionTitle" style="font-size: 1.2vw;">+ @LangResources["Patient_Button_AddNew"]</a>
						</div> *@

						<div class="medicalRecordPartitionTitle">
							<span class="formlabel" style="color: blue;">@LangResources["Patient_Label_Surgeries"]</span>
							<a onclick="cloneSurgeries(this);" href="#" class="medicalRecordPartitionTitle" style="font-size: 1.2vw; float: right; ">+ @LangResources["Patient_Button_AddNew"]</a>
						</div>

						<div id="SurgeriesContent" style="height: 27.3vw; overflow: auto;">
						</div>

					</div>

				</div>
			</div>
		</div>

	</template>

	<div id="PetInfoContent">
	</div>

	<div>
		<button onclick="AddPetInfo();" class="btn btn-lg btn-primary" style="background-color: transparent; color: blue; border-style: none; display: flex; align-items: center;">
			<span id="container">+</span>
			<span style="font-size: 1.2vw; margin-left: 0.5vw;">@LangResources["Patient_Button_AddPet"]</span>
		</button>
	</div>

	<div style="text-align: end; margin-right: 1.6vw;">
		<button onclick="togglePage();" class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_GoBack"] </button>
		<button onclick="submitInfo();" class="btn btn-lg btn-primary" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_Finish"] </button>
	</div>

</div>

<script>

	const template = document.getElementById("petInfoTemplate")
	const clone = template.content.cloneNode(1).firstElementChild

	document.getElementById("PetInfoContent").appendChild(clone);

	function updateAge(e) {
		var parentElement = e.parentElement.parentElement.parentElement;
		var currentDate = new Date();
		var petDOB = new Date(e.value);
		var yearDiffer = currentDate.getFullYear() - petDOB.getFullYear();
		var monthDiffer = currentDate.getMonth() - petDOB.getMonth() + (12 * yearDiffer);
		var yearText = "";

		yearText = (monthDiffer / 12) + "";

		var AgeElement = parentElement.querySelectorAll(".Age")
		AgeElement[0].value = parseInt(yearText);
	}

	function changeCountryState(e, type){
		var option = e.options[e.selectedIndex];
		var dataID = option.getAttribute("data-id");
		var parent = e.parentElement.parentElement;

		if(type == "country"){
			setState(parent, dataID);
		}
		else{
			setCity(parent, dataID);
		}
	}


	function setState(e, id) {

		var parent = e.querySelector("#State");

		if (parent == null) {
			parent = e.querySelector("#CoState");
		}

		setCity(e, 0);

		fetch('/Patients/GetState?countryID=' + id)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				parent.innerHTML = '<option value="" selected> -- @LangResources["Patient_Selection_SelectState"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					parent.innerHTML = parent.innerHTML + '<option value="' + data[i].State + '" data-id="' + data[i].ID + '">' + data[i].State + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}


	function setCity(e, id) {

		var parent = e.querySelector("#City");

		if (parent == null) {
			parent = e.querySelector("#CoCity");
		}

		fetch('/Patients/GetCity?stateID=' + id)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				parent.innerHTML = '<option value="" selected> -- @LangResources["Patient_Selection_SelectCity"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					parent.innerHTML = parent.innerHTML + '<option value="' + data[i].City + '" data-id="' + data[i].ID + '">' + data[i].City + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function changeSpecies(e) {
		var breedElement = e.parentElement.parentElement.querySelector('.Breed');
		breedList(e.value, breedElement);
	}

	function breedList(species, breedElement) {
		fetch('/Patients/BreedList?species=' + species)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				breedElement.innerHTML = '<option value="" selected> -- @LangResources["Patient_Selection_SelectBreed"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					breedElement.innerHTML = breedElement.innerHTML + '<option value="' + data[i].Breed + '">' + data[i].Breed + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function serviceList(id, element, name){
		fetch('/PatientServices/GetServiceByCategory?categoryID=' + id)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				if (name == "Surgery") { name = '@LangResources["Patient_Selection_SelectSurgery"]'; }
				else { name = '@LangResources["Patient_Selection_SelectVaccination"]'; }
				element.innerHTML = '<option value="" selected> -- ' + name + ' -- </option>';

				for (let i = 0; i < data.length; i++) {
					element.innerHTML = element.innerHTML + '<option value="' + data[i].ID + '"  data-description="' + data[i].Description + '">' + data[i].Name + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function medicationList(id, element) {
		fetch('/Inventory/GetInventoryByCategory?categoryID=' + id)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				element.innerHTML = '<option value="" selected> -- @LangResources["Patient_Selection_SelectMedication"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					element.innerHTML = element.innerHTML + '<option value="' + data[i].ID + '"  data-description="' + data[i].Description + '">' + data[i].Name + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function toggleCoOwner (){
		var element = document.getElementById("CoOwnerInfo");
		var AddCoOwnerButton = document.getElementById("AddCoOwnerButton");
		element.classList.toggle("hideContainer");
		AddCoOwnerButton.classList.toggle("hideContainer");
	}

	function togglePage(){
		var ownerElement = document.getElementById("ownerInfoContainer");
		var petElement = document.getElementById("petsInfoContainer");
		var lineElement = document.getElementById("lineBetweenTab");
		var secondTabElement = document.getElementById("secondTab");
		var secondTabTextElement = document.getElementById("secondTabText");
		ownerElement.classList.toggle("hideContainer");
		petElement.classList.toggle("hideContainer");
		lineElement.classList.toggle("currentPage");
		secondTabElement.classList.toggle("currentPage");
		secondTabTextElement.classList.toggle("textColor");
	}

	function AddPetInfo() {
		const template = document.getElementById("petInfoTemplate")
		const clone = template.content.cloneNode(1).firstElementChild

		document.getElementById("PetInfoContent").appendChild(clone);
	}

	function cloneVaccination(e) {
		const template = document.getElementById("VaccinationTemplate")
		const clone = template.content.cloneNode(1).firstElementChild

		var element = e.parentElement.parentElement.querySelector('#VaccinationContent');
		element.appendChild(clone);
	}

	function cloneMedication(e) {
		const template = document.getElementById("MedicationTemplate")
		const clone = template.content.cloneNode(1).firstElementChild

		var element = e.parentElement.parentElement.querySelector('#MedicationContent');
		element.appendChild(clone);
	}

	function cloneSurgeries(e) {
		const template = document.getElementById("SurgeriesTemplate")
		const clone = template.content.cloneNode(1).firstElementChild

		var element = e.parentElement.parentElement.querySelector('#SurgeriesContent');
		element.appendChild(clone);
	}

	function removeClone(e) {
		var parent = e.parentElement.parentElement.remove();
	}

	function submitInfo() {

		var obj = {
			BranchID: @sessionBranchID,
			CreatedDate: new Date(),
			CreatedBy: "System"
		};

		fetch('/Patients/CreatePatientInfo', {
			method: 'post',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(obj)
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				createOwnerInfo(data, false);

				if (!document.getElementById("CoOwnerInfo").classList.contains("hideContainer")) {
					createOwnerInfo(data, true);
				}

				createPetsInfo(data);

			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});

	}

	function createOwnerInfo(patientID, coOwner) {
		var ownerName, contactNo, email, gender, country, state, city, postcode, address1, address2;
		if (coOwner) {
			ownerName = document.getElementById("CoOwnerName").value
			contactNo = document.getElementById("CoContactNo").value
			email = document.getElementById("Email").value
			gender = document.getElementById("CoGender").value
			country = document.getElementById("CoCountry").value
			state = document.getElementById("CoState").value
			city = document.getElementById("CoCity").value
			postcode = document.getElementById("CoPostcode").value
			address1 = document.getElementById("CoAddress1").value
			address2 = document.getElementById("CoAddress2").value
		}
		else {
			ownerName = document.getElementById("OwnerName").value
			contactNo = document.getElementById("ContactNo").value
			email = document.getElementById("CoOwnerEmail").value
			gender = document.getElementById("Gender").value
			country = document.getElementById("Country").value
			state = document.getElementById("State").value
			city = document.getElementById("City").value
			postcode = document.getElementById("Postcode").value
			address1 = document.getElementById("Address1").value
			address2 = document.getElementById("Address2").value			
		}

		var obj = {
			PatientID: patientID,
			Name: ownerName,
			ContactNo: contactNo,
			EmailAddress: email,
			Gender: gender,
			Country: country,
			State: state,
			City: city,
			PostCode: postcode,
			Address: address1 + ", " + address2,
			Status: 1,
			CreatedDate: new Date(),
			CreatedBy: "System",
		};

		fetch('/Patients/InsertPatientOwnerInfo', {
			method: 'post',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(obj)
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function createPetsInfo(patientID) {

		var petInfoList = document.getElementById("PetInfoContent");
		var petInfoChildList = petInfoList.children;

		for (let i = 0; i < petInfoChildList.length; i++) {
			var petName = petInfoChildList[i].querySelector('.PetName').value;
			var registrationNo = petInfoChildList[i].querySelector('.RegistrationNo').value;
			var sex = petInfoChildList[i].querySelector('.Sex').value;
			var dob = petInfoChildList[i].querySelector('.DOB').value;
			var age = petInfoChildList[i].querySelector('.Age').value;
			var species = petInfoChildList[i].querySelector('.Species').value;
			var breed = petInfoChildList[i].querySelector('.Breed').value;
			var allergies = petInfoChildList[i].querySelector('.Allergies').value;
			var color = petInfoChildList[i].querySelector('.Color').value;
			var height = petInfoChildList[i].querySelector('.Height').value;
			var weight = petInfoChildList[i].querySelector('.Weight').value;
			var status = petInfoChildList[i].querySelector('.Status').value;

			var obj = {
				PatientID: patientID,
				Name: petName,
				RegistrationNo: registrationNo,
				Gender: sex,
				DOB: dob,
				Age : age,
				Species: species,
				Breed: breed,
				Allergies: allergies,
				Color: color,
				Height: height,
				HeightUnit: "cm",
				Weight: weight,
				WeightUnit: "kg",
				Status: 1,
				CreatedDate: new Date(),
				CreatedBy: "System",
			};

			fetch('/Patients/InsertPetsInfo', {
				method: 'post',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(obj)
			})
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					var vaccinations = petInfoChildList[i].querySelectorAll(".VaccinationGroup");
					var surgeries = petInfoChildList[i].querySelectorAll(".SurgeryGroup");
					var medications = petInfoChildList[i].querySelectorAll(".MedicationGroup");

					for (let i = 0; i < vaccinations.length; i++) {
						createMedicalRecordService(data, "Vaccination", vaccinations[i], 1);
					}

					for (let i = 0; i < surgeries.length; i++) {
						createMedicalRecordService(data, "Surgeries", surgeries[i], 2);
					}

					for (let i = 0; i < medications.length; i++) {
						createMedicalRecordMedication(data, medications[i]);
					}					

					window.location = "/Patients/Index";

				})
				.catch(error => {
					console.error('There was a problem with the fetch operation:', error);
				});
		}
	}

	function createMedicalRecordService(petID, name ,element, type){
		var serviceElement = element.querySelector(".Name" + name);
		var selected = serviceElement.options[serviceElement.selectedIndex];
		var description = selected.getAttribute('data-description');

		var obj = {
			PetID: petID,
			CategoryID: element.querySelector(".Type" + name).value,
			ServiceID: serviceElement.value,
			Type: type,
			DueDate: element.querySelector(".DueDate" + name).value,
			Description: description,
			Remarks: element.querySelector(".Remarks" + name).value,
			IsDeleted: 0,
			CreatedDate: new Date(),
			CreatedBy: "System",
		};

		fetch('/Patients/InsertMedicalRecordService', {
			method: 'post',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(obj)
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function createMedicalRecordMedication(petID, element) {
		var productElement = element.querySelector(".NameMedication");
		var selected = productElement.options[productElement.selectedIndex];
		var description = selected.getAttribute('data-description');

		var obj = {
			PetID: petID,
			CategoryID: element.querySelector(".TypeMedication").value,
			ProductID: productElement.value,
			ExpiryDate: element.querySelector(".DueDateMedication").value,
			Status: 1,
			Description: description,
			CreatedDate: new Date(),
			CreatedBy: "System",
		};

		fetch('/Patients/InsertMedicalRecordMedication', {
			method: 'post',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(obj)
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}
</script>