﻿@using Microsoft.AspNetCore.Localization
@using VPMS.Lib.Data
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources
@inject IHttpContextAccessor httpContextaccessor

@{
	ViewData["Title"] = "Patients Page";
	ViewBag.SelectedMenu = "patientsMenu";

	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PatientsList.css" />

<div class="row">
	<div class="row ms-2">
		<div class="col-md-12">
			<img id="imgBackArrow" style="margin-right: 1vw; width: 1.5vw;" />
			<span class="textColor" style="font-size: 24px; font-weight: bold;">
				@LangResources["Patient_Title_Patients"]
			</span>
		</div>
		<div class="col-md-8">&nbsp;</div>
		<div class="col-md-4 text-end">
			<button id="btnToggle" type="button" class="btn btn-outline-primary" onclick="filterToggle();">
				<i class="fa-solid fa-sliders"></i>
				@LangResources["Patient_Button_ShowFilter"]
			</button>&nbsp;&nbsp;
			@{
				if (Boolean.Parse(ViewData["CanAdd"] as string))
				{
					<button id="btnNew" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateNewPatient", "Patients")'">
						<i class="bi bi-plus-circle"></i>
						@LangResources["Patient_Button_NewPatient"]
					</button>
				}
			}
		</div>
	</div>

	<div class="row mt-4 ms-2">
		<div id="divpetInfoList" class="col-md-12">
			<table id="petInfoList" class="table" style="margin-bottom: 2vw; font-size: 1vw;">
			</table>

			<div class="row mb-3">
				<div id="pagination" style="display: flex; justify-content: flex-end;">
					<div>
						<button id="prevButton" onclick="prev();" style="width: 3vw; height: 3vw; margin-right: 2vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; color: gray; font-size: 1vw;" hidden>@LangResources["Patient_Button_Previous"]</button>
					</div>
					<div id="paginationNumbering" style="display: flex; justify-content: flex-end; font-size: 1vw;">
					</div>
					<div>
						<button id="nextButton" onclick="next();" style="width: 3vw; height: 3vw; margin-left: 1vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; color: #1e76fb; font-size: 1vw;" hidden>@LangResources["Patient_Button_Next"]</button>
					</div>
				</div>
			</div>
		</div>

		<div id="divPatientFilter" class="col-md-3 collapseHide">
			<div class="row divPatientBox">
				<div class="col-md-12 mb-4 ms-1 me-1">
					<h3 class="filterTitle mt-4 mb-3">@LangResources["Patient_Label_Filter"]</h3>

					<div class="field-container">
						<span class="form-label">@LangResources["Patient_Label_OwnerName"]</span>
						<input id="OwnerName" type="text" class="form-control form-field" />
					</div>

					<div class="field-container">
						<span class="form-label">@LangResources["Patient_Label_PetName"]</span>
						<input id="PetName" type="text" class="form-control form-field" />
					</div>

					<div class="field-container">
						<span class="form-label">@LangResources["Patient_Label_Species"]</span>
						<select id="Species" class="form-control form-field" onchange="changeSpecies();">
							<option value="" selected> -- @LangResources["Patient_Selection_SelectSpecies"] --</option>
							@foreach (var species in ViewData["Species"] as List<string>)
							{
								<option value="@species"> @species</option>
							}
						</select>
					</div>

					<div class="field-container">
						<span class="form-label">@LangResources["Patient_Label_Breed"]</span>
						<select id="Breed" class="form-control form-field">
							<option value="" selected> -- @LangResources["Patient_Selection_SelectBreed"] -- </option>
						</select>
					</div>

					<button id="btnSearch" onclick="filter();" class="w-100 btn btn-lg btn-primary">
						@LangResources["Patient_Button_Search"]
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var paginationLimit = 5;
	var rowLimit = 8;
	var startPagination = 1;
	var endPagination = 0;
	var totalPagination = 0;
	var currentPage = 1;
	var currentOwnername = "", currentPetName = "", currentSpecies = "", currentBreed = "";

	filter();

	function getPetsList(page, ownerName, petName, species, breed, reset) {
		fetch('/Patients/GetPetsInfoList?rowLimit=' + rowLimit + '&page=' + page + '&ownername=' + ownerName + '&petName=' + petName + '&species=' + species + '&breed=' + breed)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				let total = data.totalPatients;

				if (reset) {
					if (total == 0) { document.getElementById("pagination").hidden = true; }
					else {
						document.getElementById("pagination").hidden = false;

						var totalPage = parseInt(total / rowLimit);

						if (totalPage == 0) { totalPage = totalPage + 1; }

						if ((total > rowLimit) && (total % rowLimit) != 0) { totalPage = totalPage + 1; }

						totalPagination = totalPage;

						if (totalPage > paginationLimit) { endPagination = paginationLimit }
						else { endPagination = totalPage; }

						pagination(startPagination, endPagination);
					}
				}


				if (currentPage == totalPagination) { document.getElementById("nextButton").hidden = true; }
				else { document.getElementById("nextButton").hidden = false; }
				if (currentPage == 1) { document.getElementById("prevButton").hidden = true; }
				else { document.getElementById("prevButton").hidden = false; }

				var content = document.getElementById("petInfoList");



				content.innerHTML =
					'<thead>' +
					'<tr class="containerBackground">' +
					'<th class="table-content" > @LangResources["Patient_Label_Number"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_OwnerName"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_PetName"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_Species"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_Breed"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_PetAge"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_Sex"] </th>' +
					'<th class="table-content" > @LangResources["Patient_Label_CreatedOn"] </th>' +
					'<th class="table-content" > </th>' +
					'</tr>' +
					'</thead>';

				if (data.totalPatients == 0) { content.innerHTML = content.innerHTML + ' <tr style="border-bottom-width: 0.1vw; height: 3.3vw;"> <td colspan="9" class="table-content"> @LangResources["Patient_Message_NoRecord"] </td> </tr>' }
				else {
					for (let i = 0; i < data.petsInfo.length; i++) {

						var html = '';

						var date = new Date(data.petsInfo[i].CreatedOn);
						var dateString = [
							('0' + date.getDate()).slice(-2),
							('0' + (date.getMonth() + 1)).slice(-2),
							date.getFullYear()
						].join('/');

						html = html +
							'<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">' +
							'<td class="table-content" >' + data.petsInfo[i].No + '</td>' +
							'<td class="table-content" > ' + data.petsInfo[i].OwnerName + '</td>' +
							'<td class="table-content" > ' + data.petsInfo[i].Name + '</td>' +
							'<td class="table-content" > ' + data.petsInfo[i].Species + '</td>' +
							'<td class="table-content" > ' + data.petsInfo[i].Breed + '</td>' +
							'<td class="table-content" >  ' + data.petsInfo[i].Age + '</td>' +
							'<td class="table-content" >  ' + data.petsInfo[i].Gender + '</td>' +
							'<td class="table-content" >  ' + dateString + '</td>' +
							'<td class="table-content" style = "width: 0;" > ' ;

							if(@ViewData["CanEdit"] || @ViewData["CanView"]){
								html = html +
									'<div class="dropleft" > ' +
									'<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false"> ' +
									'<img class="moreIcon" /> ' +
									'</button>' +
									'<div class="dropdown-menu containerBackground5" style="min-width: fit-content; font-size: 1vw;" > ';

								if(@ViewData["CanView"]){
								html = html +
									'<a class="dropdown-item" href="/Patients/PatientProfile/view/' + data.petsInfo[i].PatientID + '" > @LangResources["Patient_Button_View"] </a>';
								}

								if(@ViewData["CanEdit"]){
								html = html +
									'<a class="dropdown-item" href="/Patients/PatientProfile/edit/' + data.petsInfo[i].PatientID + '" > @LangResources["Patient_Button_Edit"] </a>';
								}

								html = html +
									'</div>' +
									'</div>' ;
							}

							html = html +									
									'</td>' +
									'</tr>';

							content.innerHTML = content.innerHTML + html;
							
					}
				}


			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function pagination(start, end) {

		var element = document.getElementById("paginationNumbering");
		
		element.innerHTML = "";

		for (let i = start; i < end + 1; i++) {
			var color = "";
			if (currentPage == i) { background = "#1e76fb"; color = "white" }
			else { background = "transparent"; color = "#1e76fb"; }

			element.innerHTML = element.innerHTML +
				'<div>' +
				'<button onclick="changePage(this);" data-page="' + i + '" style="width: 3vw; height: 3vw; background-color: ' + background + '; color: ' + color + '; margin-right: 1vw; text-align: center; border-radius: 3vw; display: flex; align-items: center; justify-content: center; border: 0.1vw solid; border-color: #1e76fb; font-weight: bold;"> ' + ('0' + i).slice(-2) + ' </button>' +
				'</div>';
		}

	}

	function prev() {
		currentPage = currentPage - 1;

		getPetsList(currentPage, currentOwnername, currentPetName, currentSpecies, currentBreed, false);

		if ((currentPage != 1) && (currentPage == startPagination)) { startPagination--; endPagination--; }
		pagination(startPagination, endPagination);
	}

	function next() {
		currentPage = currentPage + 1;

		getPetsList(currentPage, currentOwnername, currentPetName, currentSpecies, currentBreed, false);

		if ((currentPage == endPagination) && (endPagination != totalPagination)) { startPagination++; endPagination++; }
		pagination(startPagination, endPagination);
	}

	function changePage(page) {
		let pageNum = page.getAttribute("data-page");

		currentPage = Number(pageNum);

		getPetsList(currentPage, currentOwnername, currentPetName, currentSpecies, currentBreed, false);

		if ((currentPage == endPagination) && (endPagination != totalPagination)) { startPagination++; endPagination++; }
		else if ((currentPage != 1) && (currentPage == startPagination)) { startPagination--; endPagination--; }
		pagination(startPagination, endPagination);
	}

	function filter() {
		currentOwnername = document.getElementById("OwnerName").value;
		currentPetName = document.getElementById("PetName").value;
		currentSpecies = document.getElementById("Species").value;
		currentBreed = document.getElementById("Breed").value;

		currentPage = 1;

		getPetsList(1, currentOwnername, currentPetName, currentSpecies, currentBreed, true);
	}

	function changeSpecies() {
		breedList(document.getElementById("Species").value);
	}

	function breedList(species) {
		fetch('/Patients/BreedList?species=' + species)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				var element = document.getElementById("Breed");

				element.innerHTML = '<option value="" selected> -- @LangResources["Patient_Selection_SelectBreed"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					element.innerHTML = element.innerHTML + '<option value="' + data[i].Breed + '">' + data[i].Breed + '</option>';
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function deletePet(patientID, petname) {
		fetch('/Patients/DeletePetInfo?patientID=' + patientID + '&petname=' + petname)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}

				getPetsList(currentPage, currentOwnername, currentPetName, currentSpecies, currentBreed, false);
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function filterToggle(){
		$('#divPatientFilter').toggleClass('collapseHide');
		$('#divpetInfoList').toggleClass('col-md-12 col-md-9');

		// if ($('#divPatientFilter').hasClass('collapseHide'))
		// {
		// 	$('#btnToggle')[0].innerText = "@LangResources["Patient_Button_ShowFilter"]";
			
		// }
		// else {
		// 	$('#btnToggle')[0].outerText = "@LangResources["Patient_Button_HideFilter"]";
		// }

		// var tableElement = document.getElementById("petInfoList");
		// var filterElement = document.getElementById("filterContainer");
		// var buttonElement = document.getElementById("buttonFilter");

		// if(tableElement.classList.contains("tableFullWidth")){
		// 	buttonElement.innerHTML = "@LangResources["Patient_Button_HideFilter"]";
		// }
		// else{
		// 	buttonElement.innerHTML = "@LangResources["Patient_Button_ShowFilter"]";
		// }

		// tableElement.classList.toggle("tableFullWidth");
		// tableElement.classList.toggle("tablePartialWidth");
		// filterElement.classList.toggle("filterHide");
		// filterElement.classList.toggle("filterShow");
	}
</script>