﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
	ViewData["Title"] = "Patients Page";
	ViewBag.SelectedMenu = "patientsMenu";

	var CountryList = Program.CountryList;
}

<style>
	.field-container {
		display: flex;
		flex-direction: column;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}

	.formlabel {
		font-weight: bold;
		margin-bottom: 0.3vw;
		font-size: 1vw;
	}

	.inputField {
		border: 0.1vw solid;
		font-size: 1vw;
	}

	.halfSize {
		width: 36vw;
	}

	.quaterSize {
		width: 14.3vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	.hideContainer {
		display: none !important;
	}

	.currentPage {
		background-color: blue !important;
		color: white !important;
		border: none;
		border-style: none !important;
	}

	.currentPageText {
		color: black !important;
	}

	.medicalRecordPartition {
		width: 26vw;
		height: 27vw;
		overflow: auto;
	}

	.medicalRecordPartitionTitle {
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-bottom: 1.5vw;
	}
</style>

<div style="display: flex;">
	<div style="display: flex; align-items: center; margin-bottom: 1.5vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" onclick="location.href='@Url.Action("Index", "Patients")'" />
		<span class="textColor" style="font-size: 2vw;">@LangResources["Patient_Title_Patients"]</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span style="font-size: 2vw; color: dodgerblue;">@LangResources["Patient_Title_PatientProfile"]</span>
	</div>
</div>

<div style="display: flex; justify-content: center;">
	<div id="LeftInfoContainer" style="overflow: auto; height: 75.2vh; margin-right: 1vw; width: 52vw;">
		<div>
			<div class="containerBackground2" style="width: 50vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; display: flex; justify-content: space-between; align-items: center;">
				<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_OwnerInfo"]</span>
				@{
					if (Boolean.Parse(ViewData["CanEdit"] as string))
					{
						<button onclick="editOwnerInfo(false);" class="btn btn-lg btn-primary ownerInfoProfile" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
					}
				}
				
			</div>
			<div class="containerBorder" style="width: 50vw; color: darkgray; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<input id="OwnerID" type="text" hidden/>
				<input id="OwnerCreatedDate" type="text" hidden />
				<input id="OwnerCreatedBy" type="text" hidden />

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">@LangResources["Patient_Label_OwnerName"]</span>
						<input id="OwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="OwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
						<input id="ContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="ContactNoText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">@LangResources["Login_Placeholder_Email"]</span>
						<input id="OwnerEmail" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="OwnerEmailText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
						<select id="Gender" class="form-control form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="M"> @LangResources["Patient_Selection_Male"]</option>
							<option value="F"> @LangResources["Patient_Selection_Female"]</option>
						</select>
						<span id="GenderText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				@* <div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">@LangResources["Patient_Label_OwnerName"]</span>
						<input id="OwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="OwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
						<input id="ContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="ContactNoText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
						<select id="Gender" class="form-control form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="M"> @LangResources["Patient_Selection_Male"]</option>
							<option value="F"> @LangResources["Patient_Selection_Female"]</option>
						</select>
						<span id="GenderText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div> *@

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Country"]</span>
						<select id="Country" class="form-control form-field inputField hideContainer ownerInfoProfile" onchange="changeCountryState(this, 'country', '', '');">
							<option value="" selected>@LangResources["Patient_Selection_SelectCountry"]</option>
							@foreach (var country in CountryList)
							{
								<option value="@country.CountryName" data-id="@country.ID">@country.CountryName</option>
							}
							@* <option value="Malaysia"> Malaysia</option> *@
						</select>
						<span id="CountryText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_State"]</span>
						<select id="State" class="form-control form-field inputField hideContainer ownerInfoProfile" onchange="changeCountryState(this, 'state', '', '');">
							<option value="" selected>@LangResources["Patient_Selection_SelectState"]</option>
							@* <option value="Selangor"> Selangor</option> *@
						</select>
						<span id="StateText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_City"]</span>
						<select id="City" class="form-control form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected>@LangResources["Patient_Selection_SelectCity"]</option>
							@* <option value="Shah Alam"> Shah Alam</option> *@
						</select>
						<span id="CityText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">@LangResources["Patient_Label_Address"]</span>
						<input id="Address" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="AddressText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Postcode"]</span>
						<input id="Postcode" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="PostcodeText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div id="coOwnerInfo">
					<hr style="margin: 1vw; color: darkgray; border-width: medium;" />

					<div class="field-container halfSize" style="margin-bottom: 1.5vw;">
						<span class="formlabel hideContainer ownerInfoProfile">@LangResources["Patient_Label_CoOwnerInformationOptional"]</span>
					</div>


					<input id="CoOwnerID" type="text" hidden />
					<input id="CoOwnerCreatedDate" type="text" hidden />
					<input id="CoOwnerCreatedBy" type="text" hidden />

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">@LangResources["Patient_Label_CoOwnerName"]</span>
							<input id="CoOwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoOwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
							<input id="CoContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoContactNoText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">@LangResources["Login_Placeholder_Email"]</span>
							<input id="CoOwnerEmail" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoOwnerEmailText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
							<select id="CoGender" class="form-control form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="M"> @LangResources["Patient_Selection_Male"]</option>
								<option value="F"> @LangResources["Patient_Selection_Female"]</option>
							</select>
							<span id="CoGenderText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>

					@* <div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">@LangResources["Patient_Label_CoOwnerName"]</span>
							<input id="CoOwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoOwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_ContactNo"]</span>
							<input id="CoContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoContactNoText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Gender"]</span>
							<select id="CoGender" class="form-control form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="M"> @LangResources["Patient_Selection_Male"]</option>
								<option value="F"> @LangResources["Patient_Selection_Female"]</option>
							</select>
							<span id="CoGenderText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div> *@

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Country"]</span>
							<select id="CoCountry" class="form-control form-field inputField hideContainer ownerInfoProfile" onchange="changeCountryState(this, 'country', '', '');">
								<option value="" selected>@LangResources["Patient_Selection_SelectCountry"]</option>
								@foreach (var country in CountryList)
								{
									<option value="@country.CountryName" data-id="@country.ID">@country.CountryName</option>
								}
								@* <option value="Malaysia"> Malaysia</option> *@
							</select>
							<span id="CoCountryText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_State"]</span>
							<select id="CoState" class="form-control form-field inputField hideContainer ownerInfoProfile" onchange="changeCountryState(this, 'state', '', '');">
								<option value="" selected>@LangResources["Patient_Selection_SelectState"]</option>
								@* <option value="Selangor"> Selangor</option> *@
							</select>
							<span id="CoStateText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_City"]</span>
							<select id="CoCity" class="form-control form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected>@LangResources["Patient_Selection_SelectCity"]</option>
								@* <option value="Shah Alam"> Shah Alam</option> *@
							</select>
							<span id="CoCityText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">@LangResources["Patient_Label_Address"]</span>
							<input id="CoAddress" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoAddressText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">@LangResources["Patient_Label_Postcode"]</span>
							<input id="CoPostcode" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoPostcodeText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>
				</div>


				<div class="hideContainer ownerInfoProfile" style="text-align: end; margin-right: 1.6vw;">
					<button onclick="editOwnerInfo(false);" class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_Cancel"] </button>
					<button onclick="editOwnerInfo(true);" class="btn btn-lg btn-primary" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_Save"] </button>
				</div>

			</div>
		</div>

		<template id="petInfoTemplate">
			<div>
				<div class="containerBackground2" style="width: 50vw; color: white; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;  display: flex; justify-content: space-between; align-items: center;">
					<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_PetInfo"]</span>
					@{
						if (Boolean.Parse(ViewData["CanEdit"] as string)){
							<button class="btn btn-lg btn-primary" onclick="goToPetProfile('edit', this.parentElement.parentElement);" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center;">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</button>
						}
					}
				</div>
				<div class="containerBorder" style="color: darkgray; width: 50vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

					<div style="display: flex;">
						<img class="PetImage" style="height: 5vw; margin-left: 1vw;" />

						<div>
							<div style="display: flex; margin-bottom: 1.5vw;">
								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_PetName"]</span>
									<span class="formlabel textColor PetName"></span>
								</div>

								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_RegistrationNo"]</span>
									<span class="formlabel textColor RegistrationNo"></span>
								</div>

								<div class="field-container">
									<span class="formlabel">@LangResources["Patient_Label_Sex"]</span>
									<span class="formlabel textColor Sex"></span>
								</div>
							</div>

							<div style="display: flex; margin-bottom: 1.5vw;">
								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_DOB"]</span>
									<span class="formlabel textColor DOB"></span>
								</div>

								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_Age"]</span>
									<span class="formlabel textColor Age"></span>
								</div>

								<div class="field-container">
									<span class="formlabel">@LangResources["Patient_Label_Species"]</span>
									<span class="formlabel textColor Species"></span>
								</div>
							</div>

							<div style="display: flex; margin-bottom: 1.5vw;">
								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_Breed"]</span>
									<span class="formlabel textColor Breed"></span>
								</div>

								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_Allergies"]</span>
									<span class="formlabel textColor Allergies"></span>
								</div>

								<div class="field-container">
									<span class="formlabel">@LangResources["Patient_Label_Color"]</span>
									<span class="formlabel textColor Color"></span>
								</div>
							</div>

							<div style="display: flex; margin-bottom: 1.5vw;">
								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_Height"] (cm)</span>
									<span class="formlabel textColor Height"></span>
								</div>

								<div class="field-container quaterSize">
									<span class="formlabel">@LangResources["Patient_Label_Weight"] (kg)</span>
									<span class="formlabel textColor Weight"></span>
								</div>

								<div class="field-container">
									<span class="formlabel">@LangResources["Patient_Label_Status"]</span>
									<span class="formlabel textColor Status"></span>
								</div>
							</div>
						</div>
					</div>
					

					
					@{
						if (Boolean.Parse(ViewData["CanView"] as string))
						{
							<div style="text-align: end; margin-right: 1.6vw;">
								<button class="btn btn-lg btn-primary customButton" onclick="goToPetProfile('view', this.parentElement.parentElement);" style="width: 10vw; font-size: 1vw; --bs-btn-bg: transparent; --bs-btn-hover-color: white;"> @LangResources["Patient_Button_ViewPetProfile"] </button>
							</div>
						}
					}


				</div>
			</div>
		</template>

		<div id="petsInfoContent">
		</div>

	</div>

	<div id="RightInfoContainer" style="margin-left: 1.5vw;">
		<div>

			<div class="containerBackground2" style="width: 23vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
				<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_AllPets"]</span>
			</div>
			<div class="containerBorder textColor" style="color: darkgray; width: 23vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div id="allPets" style="display: flex; margin-bottom: 1.5vw;">
				</div>

			</div>

			<div class="containerBackground2" style="width: 23vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
				<span class="formlabel" style="margin-bottom: 0 !important;">@LangResources["Patient_Title_UpcomingAppointment"]</span>
			</div>
			<div class="containerBorder" id="UpcomingAppointment" style="background-color: #c8dcfc; color: darkgray; width: 23vw; border-style: none; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.4vw;">

				@* <div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Date"]</span>
						<span class="formlabel" style="color: black;">10/4/2024</span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Time"]</span>
						<span class="formlabel" style="color: black;">13:00</span>
					</div>
				</div>


				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Pet"]</span>
						<span class="formlabel" style="color: black;">Simba</span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Service"]</span>
						<span class="formlabel" style="color: black;">General Check Up</span>
					</div>
				</div>


				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">@LangResources["Patient_Label_Doctor"]</span>
						<span class="formlabel" style="color: black;">Dr. Kim Soo Jun</span>
					</div>
				</div> *@

			</div>
		</div>

	</div>
</div>

<script type="text/javascript">

	GetUpcomingAppointment();
	var coOwnerExist = false;

	if ('@ViewBag.type' == 'edit') {
		editOwnerInfo(false);
	}

	getPatientProfile();

	function getPatientProfile() {
		fetch('/Patients/GetPatientProfile?patientID=@ViewBag.PatientID')
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				setValue(data);
				clonePetInfo(data);

			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function setValue(data) {
		document.getElementById("OwnerNameText").innerHTML = data.patient_Owners[0].Name;
		document.getElementById("ContactNoText").innerHTML = data.patient_Owners[0].ContactNo;
		document.getElementById("OwnerEmailText").innerHTML = data.patient_Owners[0].EmailAddress;
		if (data.patient_Owners[0].Gender == "M") { document.getElementById("GenderText").innerHTML = "Male"; }
		else { document.getElementById("GenderText").innerHTML = "Female"; }
		document.getElementById("CountryText").innerHTML = data.patient_Owners[0].Country;

		changeCountryState(document.getElementById("Country"), "country", data.patient_Owners[0].Country, data.patient_Owners[0].State);

		document.getElementById("StateText").innerHTML = data.patient_Owners[0].State;

		changeCountryState(document.getElementById("State"), "state", data.patient_Owners[0].State, data.patient_Owners[0].City);

		document.getElementById("CityText").innerHTML = data.patient_Owners[0].City;
		document.getElementById("AddressText").innerHTML = data.patient_Owners[0].Address;
		document.getElementById("PostcodeText").innerHTML = data.patient_Owners[0].PostCode;

		document.getElementById("OwnerID").value = data.patient_Owners[0].ID;
		document.getElementById("OwnerCreatedDate").value = data.patient_Owners[0].CreatedDate;
		document.getElementById("OwnerCreatedBy").value = data.patient_Owners[0].CreatedBy;
		document.getElementById("OwnerName").value = data.patient_Owners[0].Name;
		document.getElementById("ContactNo").value = data.patient_Owners[0].ContactNo;
		document.getElementById("OwnerEmail").value = data.patient_Owners[0].EmailAddress;
		document.getElementById("Gender").value = data.patient_Owners[0].Gender;
		document.getElementById("Country").value = data.patient_Owners[0].Country;
		// document.getElementById("State").value = data.patient_Owners[0].State;
		// document.getElementById("City").value = data.patient_Owners[0].City;
		document.getElementById("Address").value = data.patient_Owners[0].Address;
		document.getElementById("Postcode").value = data.patient_Owners[0].PostCode;

		if (data.patient_Owners.length > 1) {
			document.getElementById("CoOwnerNameText").innerHTML = data.patient_Owners[1].Name;
			document.getElementById("CoContactNoText").innerHTML = data.patient_Owners[1].ContactNo;
			document.getElementById("CoOwnerEmailText").innerHTML = data.patient_Owners[1].EmailAddress;
			if (data.patient_Owners[1].Gender == "M") { document.getElementById("CoGenderText").innerHTML = "Male"; }
			else { document.getElementById("CoGenderText").innerHTML = "Female"; }
			document.getElementById("CoCountryText").innerHTML = data.patient_Owners[1].Country;

			changeCountryState(document.getElementById("CoCountry"), "country", data.patient_Owners[1].Country, data.patient_Owners[1].State);

			document.getElementById("CoStateText").innerHTML = data.patient_Owners[1].State;

			changeCountryState(document.getElementById("CoState"), "state", data.patient_Owners[1].State, data.patient_Owners[1].City);

			document.getElementById("CoCityText").innerHTML = data.patient_Owners[1].City;
			document.getElementById("CoAddressText").innerHTML = data.patient_Owners[1].Address;
			document.getElementById("CoPostcodeText").innerHTML = data.patient_Owners[1].PostCode;

			document.getElementById("CoOwnerID").value = data.patient_Owners[1].ID;
			document.getElementById("CoOwnerCreatedDate").value = data.patient_Owners[1].CreatedDate;
			document.getElementById("CoOwnerCreatedBy").value = data.patient_Owners[1].CreatedBy;
			document.getElementById("CoOwnerName").value = data.patient_Owners[1].Name;
			document.getElementById("CoContactNo").value = data.patient_Owners[1].ContactNo;
			document.getElementById("CoOwnerEmail").value = data.patient_Owners[1].EmailAddress;
			document.getElementById("CoGender").value = data.patient_Owners[1].Gender;
			document.getElementById("CoCountry").value = data.patient_Owners[1].Country;
			// document.getElementById("CoState").value = data.patient_Owners[1].State;
			// document.getElementById("CoCity").value = data.patient_Owners[1].City;
			document.getElementById("CoAddress").value = data.patient_Owners[1].Address;
			document.getElementById("CoPostcode").value = data.patient_Owners[1].PostCode;

			coOwnerExist = true;
		}
		else {
			document.getElementById("coOwnerInfo").classList.toggle("hideContainer");
		}
	}

	function changeCountryState(e, type, name, childName){
		var option = e.options[e.selectedIndex];
		var dataID = (name != "") ? 0 : option.getAttribute("data-id");
		var parent = e.parentElement.parentElement;

		if(type == "country"){
			setState(parent, dataID, name, childName);
		}
		else{
			setCity(parent, dataID, name, childName);
		}
	}


	function setState(e, id, countryName, stateName) {

		var parent = e.querySelector("#State");

		if (parent == null) {
			parent = e.querySelector("#CoState");
		}

		setCity(e, 0, "", "");

		fetch('/Patients/GetState?countryID=' + id + "&countryName=" + countryName)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				parent.innerHTML = '<option value=""> -- @LangResources["Patient_Selection_SelectState"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					parent.innerHTML = parent.innerHTML + '<option value="' + data[i].State + '" data-id="' + data[i].ID + '">' + data[i].State + '</option>';
				}

				parent.value = stateName;
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}


	function setCity(e, id, stateName, cityName) {

		var parent = e.querySelector("#City");

		if (parent == null) {
			parent = e.querySelector("#CoCity");
		}

		fetch('/Patients/GetCity?stateID=' + id + "&stateName=" + stateName)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				parent.innerHTML = '<option value=""> -- @LangResources["Patient_Selection_SelectCity"] -- </option>';

				for (let i = 0; i < data.length; i++) {
					parent.innerHTML = parent.innerHTML + '<option value="' + data[i].City + '" data-id="' + data[i].ID + '">' + data[i].City + '</option>';
				}

				parent.value = cityName;
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function updateOwnerInfo() {

		var obj = {
			ID: document.getElementById("OwnerID").value,
			PatientID: @ViewBag.PatientID,
			Name: document.getElementById("OwnerName").value,
			ContactNo: document.getElementById("ContactNo").value,
			EmailAddress: document.getElementById("OwnerEmail").value,
			Gender: document.getElementById("Gender").value,
			Country: document.getElementById("Country").value,
			State: document.getElementById("State").value,
			City: document.getElementById("City").value,
			PostCode: document.getElementById("Postcode").value,
			Address: document.getElementById("Address").value,
			Status: 1,
			CreatedDate: document.getElementById("OwnerCreatedDate").value,
			CreatedBy: document.getElementById("OwnerCreatedBy").value,
			UpdatedDate: new Date(),
			UpdatedBy: document.getElementById("OwnerName").value
		};

		sendUpdate(obj);

		document.getElementById("OwnerNameText").innerHTML = document.getElementById("OwnerName").value;
		document.getElementById("ContactNoText").innerHTML = document.getElementById("ContactNo").value;
		document.getElementById("OwnerEmailText").innerHTML = document.getElementById("OwnerEmail").value;
		if (document.getElementById("Gender").value == "M") { document.getElementById("GenderText").innerHTML = "Male"; }
		else { document.getElementById("GenderText").innerHTML = "Female"; }
		document.getElementById("CountryText").innerHTML = document.getElementById("Country").value;
		document.getElementById("StateText").innerHTML = document.getElementById("State").value;
		document.getElementById("CityText").innerHTML = document.getElementById("City").value;
		document.getElementById("AddressText").innerHTML = document.getElementById("Address").value;
		document.getElementById("PostcodeText").innerHTML = document.getElementById("Postcode").value;

		if (document.getElementById("CoOwnerName").value != "") {

			var id = document.getElementById("CoOwnerID").value != "" ? document.getElementById("CoOwnerID").value : 0;

			var obj = {
				ID: id,
				PatientID: @ViewBag.PatientID,
				Name: document.getElementById("CoOwnerName").value,
				ContactNo: document.getElementById("CoContactNo").value,
				EmailAddress: document.getElementById("CoOwnerEmail").value,
				Gender: document.getElementById("CoGender").value,
				Country: document.getElementById("CoCountry").value,
				State: document.getElementById("CoState").value,
				City: document.getElementById("CoCity").value,
				PostCode: document.getElementById("CoPostcode").value,
				Address: document.getElementById("CoAddress").value,
				Status: 1,
				CreatedDate: (id != 0 ? document.getElementById("CoOwnerCreatedDate").value : new Date()),
				CreatedBy: (id != 0 ? document.getElementById("CoOwnerCreatedBy").value : "System"),
				UpdatedDate: (id != 0 ? new Date() : null),
				UpdatedBy: (id != 0 ? document.getElementById("CoOwnerName").value : null)
			};

			sendUpdate(obj);

			document.getElementById("CoOwnerNameText").innerHTML = document.getElementById("CoOwnerName").value;
			document.getElementById("CoContactNoText").innerHTML = document.getElementById("CoContactNo").value;
			document.getElementById("CoOwnerEmailText").innerHTML = document.getElementById("CoOwnerEmail").value;
			if (document.getElementById("CoGender").value == "M") { document.getElementById("CoGenderText").innerHTML = "Male"; }
			else { document.getElementById("CoGenderText").innerHTML = "Female"; }
			document.getElementById("CoCountryText").innerHTML = document.getElementById("CoCountry").value;
			document.getElementById("CoStateText").innerHTML = document.getElementById("CoState").value;
			document.getElementById("CoCityText").innerHTML = document.getElementById("CoCity").value;
			document.getElementById("CoAddressText").innerHTML = document.getElementById("CoAddress").value;
			document.getElementById("CoPostcodeText").innerHTML = document.getElementById("CoPostcode").value;
		}
		
	}

	function sendUpdate(data) {
		fetch('/Patients/UpdatePatientOwnerInfo', {
			method: 'post',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(data)
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function editOwnerInfo(save) {
		var element = document.querySelectorAll('.ownerInfoProfile');

		for (let i = 0; i < element.length; i++) {
			element[i].classList.toggle("hideContainer");
		}

		if (!coOwnerExist) { document.getElementById("coOwnerInfo").classList.toggle("hideContainer"); }

		if (save) {
			updateOwnerInfo();
		}
	}

	function editPetInfo(e) {
		var element = e.parentElement.parentElement.querySelectorAll('.petInfoProfile');

		for (let i = 0; i < element.length; i++) {
			element[i].classList.toggle("hideContainer");
		}
	}

	function clonePetInfo(data) {
		var allPetsElement = document.getElementById("allPets");
		allPetsElement.innerHTML = "";

		for (let i = 0; i < data.Pets.length; i++) {

			const template = document.getElementById("petInfoTemplate");
			const clone = template.content.cloneNode(1).firstElementChild;
			var contentElement = document.getElementById("petsInfoContent");

			var element = clone.querySelectorAll('.PetImage');
			element[0].src = "/images/" + data.Pets[i].Species + " profile image square.png";

			var element = clone.querySelectorAll('.PetName');
			element[0].innerHTML = data.Pets[i].Name;

			element = clone.querySelectorAll('.RegistrationNo');
			element[0].innerHTML = data.Pets[i].RegistrationNo;

			element = clone.querySelectorAll('.Sex');
			if (data.Pets[i].Gender == "M") { element[0].innerHTML = "Male"; }
			else { element[0].innerHTML = "Female"; }

			element = clone.querySelectorAll('.DOB');
			element[0].innerHTML = data.Pets[i].DOB;

			element = clone.querySelectorAll('.Age');

			var currentDate = new Date();
			var petDOB = new Date(data.Pets[i].DOB);
			var dayDiffer = Math.round((currentDate.getTime() - petDOB.getTime()) / (1000 * 3600 * 24));
			var yearDiffer = currentDate.getFullYear() - petDOB.getFullYear();
			var monthDiffer = currentDate.getMonth() - petDOB.getMonth() + (12 * yearDiffer);

			if (dayDiffer < 30) { element[0].innerHTML = dayDiffer + " days"; }
			else if (monthDiffer < 12) { element[0].innerHTML = monthDiffer + " months"; }
			else { 
				// element[0].innerHTML = (monthDiffer / 12).toFixed(1) + " years"; 
				element[0].innerHTML = parseInt(monthDiffer / 12) + " years";
			}

			element = clone.querySelectorAll('.Species');
			element[0].innerHTML = data.Pets[i].Species;

			var breedElement = clone.querySelectorAll('.Breed');
			breedElement[0].innerHTML = data.Pets[i].Breed;

			element = clone.querySelectorAll('.Allergies');
			element[0].innerHTML = data.Pets[i].Allergies;

			element = clone.querySelectorAll('.Color');
			element[0].innerHTML = data.Pets[i].Color;

			element = clone.querySelectorAll('.Height');
			element[0].innerHTML = data.Pets[i].Height;

			element = clone.querySelectorAll('.Weight');
			element[0].innerHTML = data.Pets[i].Weight;

			element = clone.querySelectorAll('.Status');
			element[0].innerHTML = (data.Pets[i].Status == 1) ? "Active" : "Inactive";

			var link = "location.href = '/Patients/PetProfile/View/@ViewBag.PatientID/" + data.Pets[i].Name + "'";

			if(@ViewData["CanView"]){
				allPetsElement.innerHTML = allPetsElement.innerHTML +
					'<div class="field-container" style="text-align: center;">' +
					'<img onclick="' + link + '" src="/images/' + data.Pets[i].Species + ' profile image.png" style = "width: 4vw; border-radius: 50px;" />' +
					'<a href="/Patients/PetProfile/View/@ViewBag.PatientID/' + data.Pets[i].Name + '" style="font-size: 1vw;" > ' + data.Pets[i].Name + ' </a>' +
					'</div>'
			}
			else{
				allPetsElement.innerHTML = allPetsElement.innerHTML +
					'<div class="field-container" style="text-align: center;">' +
					'<img src="/images/' + data.Pets[i].Species + ' profile image.png" style = "width: 4vw; border-radius: 50px;" />' +
					'<span style="font-size: 1vw;" > ' + data.Pets[i].Name + ' </span>' +
					'</div>'
			}

			contentElement.appendChild(clone);
		}
	}

	function breedList(species, breedElement, breedValue) {
		fetch('/Patients/BreedList?species=' + species)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				if (breedValue != "") {
					breedElement.innerHTML = '<option value=""> -- Select Breed -- </option>';
				}
				else {
					breedElement.innerHTML = '<option value="" selected> -- Select Breed -- </option>';
				}

				for (let i = 0; i < data.length; i++) {
					if (breedValue == data[i].Breed) {
						breedElement.innerHTML = breedElement.innerHTML + '<option value="' + data[i].Breed + '" selected>' + data[i].Breed + '</option>';
					}
					else {
						breedElement.innerHTML = breedElement.innerHTML + '<option value="' + data[i].Breed + '">' + data[i].Breed + '</option>';
					}
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function GetUpcomingAppointment() {
		fetch('/Appointment/GetUpcomingAppointment?ownerID=@ViewBag.PatientID&petID=0')
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				var element = document.getElementById("UpcomingAppointment");

				if (data.PetName == null) {
					element.innerHTML = '<div style="margin-bottom: 1.5vw; text-align: center;">@LangResources["Patient_Label_NoUpcomingAppointment"]</div>'
				}else{

					var date = new Date(data.ApptDate);

					var dateText = [
						('0' + date.getDate()).slice(-2),
						('0' + (date.getMonth() + 1)).slice(-2),
						date.getFullYear()
					].join('/');

					var time = data.ApptStartTime.slice(0, -3) + " - " + data.ApptEndTime.slice(0, -3)

					element.innerHTML =
						'<div style="display: flex; margin-bottom: 1.5vw;">' +
						'<div class="field-container quaterSize" >' +
						'<span class="formlabel">@LangResources["Patient_Label_Date"]</span>' +
						'<span class="formlabel" style="color: black;">' + dateText + '</span>' +
						'</div >' +

						'<div class="field-container quaterSize">' +
						'<span class="formlabel">@LangResources["Patient_Label_Time"]</span>' +
						'<span class="formlabel" style="color: black;">' + time + '</span>' +
						'</div>' +
						'</div >' +


						'<div style="display: flex; margin-bottom: 1.5vw;">' +
						'<div class="field-container quaterSize">' +
						'<span class="formlabel">@LangResources["Patient_Label_Pet"]</span>' +
						'<span class="formlabel" style="color: black;">' + data.PetName + '</span>' +
						'</div>' +

						'<div class="field-container quaterSize">' +
						'<span class="formlabel">@LangResources["Patient_Label_Service"]</span>' +
						'<span class="formlabel" style="color: black;">' + data.Service + '</span>' +
						'</div>' +
						'</div>' +


						'<div style="display: flex; margin-bottom: 1.5vw;">' +
						'<div class="field-container quaterSize">' +
						'<span class="formlabel">@LangResources["Patient_Label_Doctor"]</span>' +
						'<span class="formlabel" style="color: black;">' + data.Doctor + '</span>' +
						'</div>' +
						'</div>';
				}

			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function goToPetProfile(type, e) {
		var petName = e.querySelector(".PetName").innerHTML;
		window.location = '/Patients/PetProfile/' + type + '/@ViewBag.PatientID/' + petName;
	}

</script>