@{
	ViewData["Title"] = "Patients Page";
	ViewBag.SelectedMenu = "patientsMenu";
}

<style>
	.field-container {
		display: flex;
		flex-direction: column;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}

	.formlabel {
		font-weight: bold;
		margin-bottom: 0.3vw;
	}

	.inputField {
		border: 0.1vw solid;
	}

	.halfSize {
		width: 36vw;
	}

	.quaterSize {
		width: 16.5vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	.hideContainer {
		display: none !important;
	}

	.currentPage {
		background-color: blue !important;
		color: white !important;
		border: none;
		border-style: none !important;
	}

	.currentPageText {
		color: black !important;
	}

	.medicalRecordPartition {
		width: 26vw;
		height: 27vw;
		overflow: auto;
	}

	.medicalRecordPartitionTitle {
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-bottom: 1.5vw;
	}
</style>

<div style="display: flex;">
	<div style="display: flex; align-items: center; margin-bottom: 3vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw;" onclick="location.href='@Url.Action("Index", "Patients")'" />
		<span class="textColor" style="font-size: 2vw;">Patients</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span style="font-size: 2vw; color: dodgerblue;">Patient Profile</span>
	</div>
</div>

<div style="display: flex; justify-content: space-between;">
	<div id="LeftInfoContainer">
		<div>
			<div class="containerBackground2" style="width: 40vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; display: flex; justify-content: space-between; align-items: center;">
				<span>Owner Information</span>
				<button onclick="editOwnerInfo();" class="btn btn-lg btn-primary ownerInfoProfile" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center;">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="containerBorder" style="width: 40vw; color: darkgray; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">Owner Name</span>
						<input id="OwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="OwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">Contact No</span>
						<input id="ContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="ContactNoText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">Gender</span>
						<select id="Gender" class="form-select form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="M"> Male</option>
							<option value="F"> Female</option>
						</select>
						<span id="GenderText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">Country</span>
						<select id="Country" class="form-select form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="Malaysia"> Malaysia</option>
						</select>
						<span id="CountryText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">State</span>
						<select id="State" class="form-select form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="Selangor"> Selangor</option>
						</select>
						<span id="StateText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">City</span>
						<select id="City" class="form-select form-field inputField hideContainer ownerInfoProfile">
							<option value="" selected></option>
							<option value="Shah Alam"> Shah Alam</option>
						</select>
						<span id="CityText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container halfSize">
						<span class="formlabel">Address</span>
						<input id="Address" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="AddressText" class="formlabel ownerInfoProfile textColor"></span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">Postcode</span>
						<input id="Postcode" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
						<span id="PostcodeText" class="formlabel ownerInfoProfile textColor"></span>
					</div>
				</div>

				<div id="coOwnerInfo">
					<hr style="margin: 1vw;" />

					<div class="field-container halfSize" style="margin-bottom: 1.5vw;">
						<span class="formlabel hideContainer ownerInfoProfile">Co-Owner Information (Optional)</span>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">Co-Owner Name</span>
							<input id="CoOwnerName" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoOwnerNameText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Contact No</span>
							<input id="CoContactNo" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoContactNoText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Gender</span>
							<select id="CoGender" class="form-select form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="M"> Male</option>
								<option value="F"> Female</option>
							</select>
							<span id="CoGenderText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">Country</span>
							<select id="CoCountry" class="form-select form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="Malaysia"> Malaysia</option>
							</select>
							<span id="CoCountryText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">State</span>
							<select id="CoState" class="form-select form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="Selangor"> Selangor</option>
							</select>
							<span id="CoStateText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">City</span>
							<select id="CoCity" class="form-select form-field inputField hideContainer ownerInfoProfile">
								<option value="" selected></option>
								<option value="Shah Alam"> Shah Alam</option>
							</select>
							<span id="CoCityText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container halfSize">
							<span class="formlabel">Address</span>
							<input id="CoAddress" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoAddressText" class="formlabel ownerInfoProfile textColor"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Postcode</span>
							<input id="CoPostcode" type="text" class="form-control form-field inputField hideContainer ownerInfoProfile" />
							<span id="CoPostcodeText" class="formlabel ownerInfoProfile textColor"></span>
						</div>
					</div>
				</div>
				

				<div class="hideContainer ownerInfoProfile" style="text-align: end; margin-right: 1.6vw;">
					<button onclick="editOwnerInfo();" class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1.5vw;"> Cancel </button>
					<button onclick="editOwnerInfo();" class="btn btn-lg btn-primary" style="width: 11vw; font-size: 1.5vw;"> Save </button>
				</div>

			</div>
		</div>

		<template id="petInfoTemplate">
			<div>
				<div class="containerBackground2" style="width: 40vw; color: white; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;  display: flex; justify-content: space-between; align-items: center;">
					<span>Pet Information</span>
					<button onclick="editPetInfo(this);" class="btn btn-lg btn-primary petInfoProfile" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center;">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</button>
				</div>
				<div class="containerBorder" style="color: darkgray; width: 40vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 1.5vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">Pet Name</span>
							<input type="text" class="form-control form-field inputField petInfoProfile PetName hideContainer" />
							<span class="formlabel petInfoProfile textColor PetName"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Registration No.</span>
							<input type="text" class="form-control form-field inputField petInfoProfile RegistrationNo hideContainer" />
							<span class="formlabel petInfoProfile textColor RegistrationNo"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Sex</span>
							<select class="form-select form-field inputField petInfoProfile Sex hideContainer">
								<option value="" selected> -- Select Sex --</option>
								<option value="M"> Male</option>
								<option value="F"> Female</option>
							</select>
							<span class="formlabel petInfoProfile textColor Sex"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">Date Of Birth</span>
							<input type="date" class="form-control form-field inputField petInfoProfile DOB hideContainer" />
							<span class="formlabel petInfoProfile textColor DOB"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Age</span>
							<input type="text" class="form-control form-field inputField petInfoProfile Age hideContainer" />
							<span class="formlabel petInfoProfile textColor Age"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Species</span>
							<select onchange="changeSpecies(this);" class="form-select form-field inputField petInfoProfile Species hideContainer">
								<option value="" selected> -- Select Species --</option>
								@foreach (var species in ViewData["Species"] as List<string>)
								{
									<option value="@species"> @species</option>
								}
							</select>
							<span class="formlabel petInfoProfile textColor Species"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">Breed</span>
							<select class="form-select form-field inputField petInfoProfile Breed hideContainer">
								<option value="" selected> -- Select Breed --</option>
							</select>
							<span class="formlabel petInfoProfile textColor Breed"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Allergies</span>
							<input type="text" class="form-control form-field inputField petInfoProfile Allergies hideContainer" />
							<span class="formlabel petInfoProfile textColor Allergies"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Color</span>
							<select class="form-select form-field inputField petInfoProfile Color hideContainer">
								<option value="" selected> -- Select Color --</option>
								@foreach (var color in ViewData["Color"] as List<string>)
								{
									<option value="@color"> @color</option>
								}
							</select>
							<span class="formlabel petInfoProfile textColor Color"></span>
						</div>
					</div>

					<div style="display: flex; margin-bottom: 1.5vw;">
						<div class="field-container quaterSize">
							<span class="formlabel">Height (cm)</span>
							<input type="text" class="form-control form-field inputField petInfoProfile Height hideContainer" />
							<span class="formlabel petInfoProfile textColor Height"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Weight (kg)</span>
							<input type="text" class="form-control form-field inputField petInfoProfile Weight hideContainer" />
							<span class="formlabel petInfoProfile textColor Weight"></span>
						</div>

						<div class="field-container quaterSize">
							<span class="formlabel">Status</span>
							<select class="form-select form-field inputField petInfoProfile Status hideContainer">
								<option value="" selected> -- Select Status --</option>
								<option value="1"> Active</option>
								<option value="2"> Inactive</option>
							</select>
							<span class="formlabel petInfoProfile textColor Status"></span>
						</div>
					</div>


					<div class="hideContainer petInfoProfile" style="text-align: end; margin-right: 1.6vw;">
						<button onclick="editPetInfo(this.parentElement)" class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1.5vw;"> Cancel </button>
						<button onclick="editPetInfo(this.parentElement);" class="btn btn-lg btn-primary" style="width: 11vw; font-size: 1.5vw;"> Save </button>
					</div>

				</div>
			</div>
		</template>

		<div id="petsInfoContent">
		</div>

	</div>

	<div id="RightInfoContainer">
		<div>

			<div class="containerBackground2" style="width: 28vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
				All Pets
			</div>
			<div class="containerBorder textColor" style="color: darkgray; width: 28vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div id="allPets" style="display: flex; margin-bottom: 1.5vw;">
				</div>

			</div>

			<div class="containerBackground2" style="width: 28vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
				Upcoming Appointment
			</div>
			<div class="containerBorder" style="background-color: #c8dcfc; color: darkgray; width: 28vw; border-style: none; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">Date</span>
						<span class="formlabel" style="color: black;">10/4/2024</span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">Time</span>
						<span class="formlabel" style="color: black;">13:00</span>
					</div>
				</div>


				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">Pet</span>
						<span class="formlabel" style="color: black;">Simba</span>
					</div>

					<div class="field-container quaterSize">
						<span class="formlabel">Service</span>
						<span class="formlabel" style="color: black;">General Check Up</span>
					</div>
				</div>


				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container quaterSize">
						<span class="formlabel">Doctor</span>
						<span class="formlabel" style="color: black;">Dr. Kim Soo Jun</span>
					</div>
				</div>				

			</div>
		</div>

	</div>
</div>

<script type="text/javascript">

	getPatientProfile();

	function getPatientProfile() {
		fetch('/Patients/GetPatientProfile?patientID=@ViewBag.PatientID')
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				setValue(data);
				clonePetInfo(data);

			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	function setValue(data) {
		document.getElementById("OwnerNameText").innerHTML = data.patient_Owners[0].name;
		document.getElementById("ContactNoText").innerHTML = data.patient_Owners[0].ContactNo;
		if (data.patient_Owners[0].Gender == "M") { document.getElementById("GenderText").innerHTML = "Male"; }
		else { document.getElementById("GenderText").innerHTML = "Female"; }
		document.getElementById("CountryText").innerHTML = data.patient_Owners[0].Country;
		document.getElementById("StateText").innerHTML = data.patient_Owners[0].State;
		document.getElementById("CityText").innerHTML = data.patient_Owners[0].City;
		document.getElementById("AddressText").innerHTML = data.patient_Owners[0].Address;
		document.getElementById("PostcodeText").innerHTML = data.patient_Owners[0].PostCode;

		document.getElementById("OwnerName").value = data.patient_Owners[0].name;
		document.getElementById("ContactNo").value = data.patient_Owners[0].ContactNo;
		document.getElementById("Gender").value = data.patient_Owners[0].Gender;
		document.getElementById("Country").value = data.patient_Owners[0].Country;
		document.getElementById("State").value = data.patient_Owners[0].State;
		document.getElementById("City").value = data.patient_Owners[0].City;
		document.getElementById("Address").value = data.patient_Owners[0].Address;
		document.getElementById("Postcode").value = data.patient_Owners[0].PostCode;

		if (data.patient_Owners.length > 1) {
			document.getElementById("CoOwnerNameText").innerHTML = data.patient_Owners[1].name;
			document.getElementById("CoContactNoText").innerHTML = data.patient_Owners[1].ContactNo;
			if (data.patient_Owners[1].Gender == "M") { document.getElementById("CoGenderText").innerHTML = "Male"; }
			else { document.getElementById("CoGenderText").innerHTML = "Female"; }
			document.getElementById("CoCountryText").innerHTML = data.patient_Owners[1].Country;
			document.getElementById("CoStateText").innerHTML = data.patient_Owners[1].State;
			document.getElementById("CoCityText").innerHTML = data.patient_Owners[1].City;
			document.getElementById("CoAddressText").innerHTML = data.patient_Owners[1].Address;
			document.getElementById("CoPostcodeText").innerHTML = data.patient_Owners[1].PostCode;

			document.getElementById("CoOwnerName").value = data.patient_Owners[1].name;
			document.getElementById("CoContactNo").value = data.patient_Owners[1].ContactNo;
			document.getElementById("CoGender").value = data.patient_Owners[1].Gender;
			document.getElementById("CoCountry").value = data.patient_Owners[1].Country;
			document.getElementById("CoState").value = data.patient_Owners[1].State;
			document.getElementById("CoCity").value = data.patient_Owners[1].City;
			document.getElementById("CoAddress").value = data.patient_Owners[1].Address;
			document.getElementById("CoPostcode").value = data.patient_Owners[1].PostCode;
		}
		else {
			document.getElementById("coOwnerInfo").classList.toggle("hideContainer");
		}
	}

	function editOwnerInfo() {
		var element = document.querySelectorAll('.ownerInfoProfile');

		for (let i = 0; i < element.length; i++) {
			element[i].classList.toggle("hideContainer");
		}
	}

	function editPetInfo(e) {
		var element = e.parentElement.parentElement.querySelectorAll('.petInfoProfile');

		for (let i = 0; i < element.length; i++) {
			element[i].classList.toggle("hideContainer");
		}
	}

	function clonePetInfo(data) {
		var allPetsElement = document.getElementById("allPets");
		allPetsElement.innerHTML = "";

		for (let i = 0; i < data.pets.length; i++) {

			const template = document.getElementById("petInfoTemplate");
			const clone = template.content.cloneNode(1).firstElementChild;
			var contentElement = document.getElementById("petsInfoContent");

			var element = clone.querySelectorAll('.PetName');
			element[0].value = data.pets[i].name;
			element[1].innerHTML = data.pets[i].name;

			element = clone.querySelectorAll('.RegistrationNo');
			element[0].value = data.pets[i].RegistrationNo;
			element[1].innerHTML = data.pets[i].RegistrationNo;

			element = clone.querySelectorAll('.Sex');
			element[0].value = data.pets[i].Gender;
			if (data.pets[i].Gender == "M") { element[1].innerHTML = "Male"; }
			else { element[1].innerHTML = "Female"; }

			element = clone.querySelectorAll('.DOB');
			element[0].value = data.pets[i].DOB;
			element[1].innerHTML = data.pets[i].DOB;

			element = clone.querySelectorAll('.Age');
			element[0].value = data.pets[i].age;
			element[1].innerHTML = data.pets[i].age;

			element = clone.querySelectorAll('.Species');
			element[0].value = data.pets[i].species;
			element[1].innerHTML = data.pets[i].species;

			var breedElement = clone.querySelectorAll('.Breed');
			breedList(data.pets[i].species, breedElement[0], data.pets[i].Breed);
			// breedElement[0].value = data.pets[i].Breed;
			breedElement[1].innerHTML = data.pets[i].Breed;

			element = clone.querySelectorAll('.Allergies');
			element[0].value = data.pets[i].Allergies;
			element[1].innerHTML = data.pets[i].Allergies;

			element = clone.querySelectorAll('.Color');
			element[0].value = data.pets[i].Color;
			element[1].innerHTML = data.pets[i].Color;

			element = clone.querySelectorAll('.Height');
			element[0].value = data.pets[i].Height;
			element[1].innerHTML = data.pets[i].Height;

			element = clone.querySelectorAll('.Weight');
			element[0].value = data.pets[i].Weight;
			element[1].innerHTML = data.pets[i].Weight;

			element = clone.querySelectorAll('.Status');
			element[0].value = data.pets[i].Status;
			element[1].innerHTML = data.pets[i].Status;

			allPetsElement.innerHTML = allPetsElement.innerHTML +
				'<div class="field-container" style="text-align: center;">' +
					'<img src = "/images/' + data.pets[i].species + ' profile image.png" style = "width: 4vw;" />' +
					'<a href="#" > ' + data.pets[i].name + ' </a>' +
				'</div>'

			contentElement.appendChild(clone);
		}
	}

	function breedList(species, breedElement, breedValue) {
		fetch('/Patients/BreedList?species=' + species)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {

				if (breedValue != "") {
					breedElement.innerHTML = '<option value=""> -- Select Breed -- </option>';
				}
				else {
					breedElement.innerHTML = '<option value="" selected> -- Select Breed -- </option>';
				}

				for (let i = 0; i < data.length; i++) {
					if (breedValue == data[i].Breed) {
						breedElement.innerHTML = breedElement.innerHTML + '<option value="' + data[i].Breed + '" selected>' + data[i].Breed + '</option>';
					}
					else {
						breedElement.innerHTML = breedElement.innerHTML + '<option value="' + data[i].Breed + '">' + data[i].Breed + '</option>';
					}					
				}
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

</script>