@inject VPMSCustomer.Interface.IResourcesLocalizer LangResources
@inject IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sessionUserID = httpContextaccessor.HttpContext.Session.GetString("UserID");
}

<link rel="stylesheet" href="~/css/ResetPassword.css" />

<script type="text/javascript">
    $(document).ready(function(){
        $('#btnUpdate').on('click', function(ctl)
        {
            $('#lbError').html('');

            if (ValidateInput())
            {
                if (validatePasswordFormat($('#txtNewPassword').val()))
                {
                    $.post("/Login/ResetPassword", {
                        userID: '@sessionUserID',
                        newPassword: $('#txtNewPassword').val()
                    }).done(function(result){
                        if (result.statusCode == 200){
                            ShowSuccessMsgBox("@Html.Raw(LangResources["ResetPassword_Title_ResetPassword"])", 
                                              "@Html.Raw(LangResources["ResetPassword_Message_ResetPasswordSuccessfully"])",
                                function () {
                                    window.location.href = '/Login/Index';
                                }
                            )
                        }
                        else{
                            $('#lbError').html('@Html.Raw(LangResources["ResetPassword_Message_ResetPasswordFailed"])');
                        }
                    });
                }
                else
                {
                    $('#lbError').html('@Html.Raw(LangResources["ResetPassword_Message_InvalidPasswordFormat"])');
                }
                
            }
            else{
                $('#lbError').html("@Html.Raw(LangResources["ResetPassword_Message_MissingMandatoryFields"])");
            }
        });

        $('#btnCancel').on('click', function(ctl){
            window.location.href = '/Home/Index';
        });

        if ('@sessionUserID' != '')
        {
            LoadAccountPassword();
        }
    });

    function LoadAccountPassword()
    {
        var iID = '@sessionUserID';

        $.getJSON("/Account/GetCustomerAccount/" + iID)
            .done(function(result){
                if (result != null)
                {
                    $('#txtOldPassword').val(result.data.passwordHash);
                    $('#txtOldPassword').prop('disabled', true);
                }
                else
                {
                    $('#lbError').html("@Html.Raw(LangResources["ResetPassword_Message_FailedLoadOldPassword"])");
                }
            });
    }

    function ValidateInput()
    {
        let isValid = true;

        if ($('#txtNewPassword').val() == '')
        {
            $('#txtNewPassword').addClass("errorValidation");
            $('#txtNewPassword').focus();

            isValid = false;
        }
        else
        {
            $('#txtNewPassword').removeClass("errorValidation");
        }

        if ($('#txtConfirmPassword').val() == '')
        {
            $('#txtConfirmPassword').addClass("errorValidation");
            $('#txtConfirmPassword').focus();
        }
        else
        {
            $('#txtConfirmPassword').removeClass("errorValidation");
        }

        return isValid;
    }

</script>

<div class="row ms-3">
    <div class="row pt-4">
        <label class="pageTitle">
            @LangResources["ResetPassword_Title_ResetPassword"]
        </label>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row borderResetPassFrame">
        <div class="row pt-4">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <label class="ResetFieldTitle">@LangResources["ResetPassword_Label_OldPassword"]</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtOldPassword" type="password" class="form-control" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <label class="ResetFieldTitle">@LangResources["ResetPassword_Label_NewPassword"]</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtNewPassword" type="password" class="form-control" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <label class="ResetFieldTitle">@LangResources["ResetPassword_Label_ConfirmNewPassword"]</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtConfirmPassword" type="password" class="form-control" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <label id="lbError" class="errorLabel"  />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>

    <div class="row">
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">
                <input id="btnCancel" type="button" class="btn btn-secondary" value="@LangResources["ResetPassword_Button_Cancel"]" />
            </div>
            <div class="col-md-3">
                <input id="btnUpdate" type="button" class="btn btn-primary" value="@LangResources["ResetPassword_Button_Update"]" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
</div>

