@inject VPMSWeb.Interface.IResourcesLocalizer LangResources
@inject IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "BannersList";
    ViewData["SelectedMenu"] = "MgmtMenu";
    ViewBag.SelectedMenu = "MgmtMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/BannerList.css" />
<script src="~/lib/moment.min.js"></script>

<script type="text/javascript">
    var paginationLimit = 5;
    //var pageSize = 10;
    var pageSize = 2;
    var pageIndex = 1;
    var currentPage = 1;
    var totalPagination = 0;
    var startPagination = 1;
    var endPagination = 0;

    debugger;
    $("#SubMenuConfig").toggleClass('show');
    document.querySelector("#SubMenuConfigParent").querySelector("#imgArrow").classList.toggle("Up");

    $(document).ready(function(){ 
        LoadBannersList();
    });

    function LoadBannersList()
    {
        $('#tblBanner tbody').html('');

        $.getJSON("/Customer/GetBannersViewList", {
            pageSize: pageSize,
            pageIndex: currentPage 
        }).done(function (result){
            if (result != null && result.data.length > 0)
            {
                var sRowHtml = '';
                for (i = 0; i < result.data.length; i++)
                {
                    sRowHtml += '<tr>' +
                                '<td scope="col" class="text-center">' + result.data[i].RowNo + '</td>' +
                                '<td scope="col">' + result.data[i].Description + '</td>' +
                                '<td scope="col">' + moment(result.data[i].StartDate).format("DD-MM-YYYY") + '</td>' +
                                '<td scope="col">' + moment(result.data[i].EndDate).format("DD-MM-YYYY") + '</td>' + 
                                '<td scope="col">' + (result.data[i].IsActive == '1' ? 'Active' : 'Inactive') + '</td>' +
                                '<td scope="col">' + result.data[i].BannerName + '</td>' +
                                '<td scope="col">' + moment(result.data[i].CreatedDate).format("DD-MM-YYYY HH:mm:ss") + '</td>' +
                                '<td scope="col">' + generatePopupMenu(result.data[i].ID) + '</td>' +
                                '</tr>';
                }

                $('#tblBanner tbody').append(sRowHtml);

                /*--- Pagination ------*/
                populatePagingControl(result.totalRecords);
            }
            else 
            {
                var sEmptyRowHtml = '';
                sEmptyRowHtml += '<tr><td colspan="8">' + '@Html.Raw(LangResources["BannersList_Message_NoRecords"])' + '</td></tr>';

                $('#tblBanner tbody').append(sEmptyRowHtml);

                $('#prevButton').hide();
                $('#nextButton').hide();
            }
        });
    }

    function generatePopupMenu(id)
    {
        var sPopMenuHtml = '';

        sPopMenuHtml += '<button type="button" class="btn" data-toggle="dropdown">' +
                        '<img class="moreMenu" />' +
                        '</button>' +

                        '<div class="dropdown-menu hiddenBannerMenuStyle containerBackground5">' +
                        '<a class="dropdown-item" href="/Customer/ViewBannerProfile/' + id + '/View">' + '@Html.Raw(LangResources["BannersList_Label_View"])' + '</a>' +
                        '<a class="dropdown-item" href="/Customer/ViewBannerProfile/' + id + '/Edit">' + '@Html.Raw(LangResources["BannersList_Label_Edit"])' + '</a>' +
                        '</div>';

        return sPopMenuHtml;
    }

    function populatePagingControl(totalRecord)
    {
        let total = totalRecord;
        if (total == 0)
        {
            document.getElementById("pagination").hidden = true;
        }
        else
        {
            document.getElementById("pagination").hidden = false;

            var totalPage = parseInt(total / pageSize);
            if (totalPage == 0) {
                totalPage = totalPage + 1;
            }

            if ((total > pageSize) && (total % pageSize) != 0) {
                totalPage = totalPage + 1;
            }

            totalPagination = totalPage;

            if (totalPage > paginationLimit) {
                endPagination = paginationLimit
            }
            else {
                endPagination = totalPage;
            }

            pagination(startPagination, endPagination);
        }

        if (currentPage == totalPagination) {
            document.getElementById("nextButton").hidden = true;
        }
        else {
            document.getElementById("nextButton").hidden = false;
        }
        if (currentPage == 1) {
            document.getElementById("prevButton").hidden = true;
        }
        else {
            document.getElementById("prevButton").hidden = false;
        }
    }

    function pagination(start, end)
    {
        var element = document.getElementById("paginationNumbering");

        element.innerHTML = "";
        for (let i = start; i < end + 1; i++) {
            var buttonClassName = "PaginationButton";

            if (currentPage == i) {
                buttonClassName = "PaginationButtonSelected";
            }

            element.innerHTML = element.innerHTML +
                '<div>' +
                '<button onclick="changePage(this);" data-page="' + i + '" class="' + buttonClassName + '"> ' + ('0' + i).slice(-2) + ' </button>' +
                '</div>';
        }
    }

    function prev() {
        currentPage = currentPage - 1;
        LoadBannersList();
    }

    function next() {
        currentPage = currentPage + 1;

        LoadBannersList();
    }

    function changePage(page) {
        let pageNum = page.getAttribute("data-page");

        currentPage = Number(pageNum);
        LoadBannersList();
    }
</script>

<div class="row">
    <div class="row ms-3">
        <div class="col-md-12">
            <label class="bannerPageTitle">
                @LangResources["BannersList_Title_BannersManagement"]
            </label>
        </div>
        <div class="col-md-10">&nbsp;</div>
        <div class="col-md-2">
            <button id="btnNew" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("BannerProfile", "Customer")'">
                <i class="bi bi-plus-circle"></i>
                @LangResources["BannersList_Button_NewBanner"]
            </button>
        </div>
    </div>
    <div class="row mt-3 ms-3">
        <div class="col-md-12">
      
            <table id="tblBanner" class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">@LangResources["BannersList_Label_Number"]</th>
                        <th scope="col" style="width: 20%;">@LangResources["BannersList_Label_Banner"]</th>
                        <th scope="col" style="width: 10%;">@LangResources["BannersList_Label_StartDate"]</th>
                        <th scope="col" style="width: 10%;">@LangResources["BannersList_Label_EndDate"]</th>
                        <th scope="col" style="width: 10%;">@LangResources["BannersList_Label_Status"]</th>
                        <th scope="col" style="width: 20%;">@LangResources["BannersList_Label_FileName"]</th>
                        <th scope="col" style="width: 15%;">@LangResources["BannersList_Label_CreatedDate"]</th>
                        <th scope="col" style="width: 5%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="row">
                <div id="pagination" style="display: flex; justify-content: flex-end; margin-top: 15px;">
                    <div>
                        <button id="prevButton" class="textColor" onclick="prev();" style="width: 3vw; height: 3vw; margin-right: 2vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; font-size: 1vw;">@LangResources["BannersList_Button_Prev"]</button>
                    </div>
                    <div id="paginationNumbering" style="display: flex; justify-content: flex-end;">
                    </div>
                    <div>
                        <button id="nextButton" class="textColor" onclick="next();" style="width: 3vw; height: 3vw; margin-left: 1vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; font-size: 1vw;">@LangResources["BannersList_Button_Next"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

